<template>
    <div>
         <v-card class="mx-auto" style="max-width: 1070px;">
                    <v-toolbar color="deep-orange darken-1" cards dark flat>
                    <h3>Datos Gestión</h3>
                    <div class="flex-grow-1"></div>
                    </v-toolbar>
                    <v-container>
                        <ver-datos-gestion-cambio-plan :gestion="gestion"></ver-datos-gestion-cambio-plan>
                         <v-row>
                         <v-col cols="12">
                                <!-- <h5  class="text-left  text-uppercase" colspan="4"></h5> -->
                                 <v-chip color="primary" outlined>
                                <v-icon left color="primary">check</v-icon>
                                Tipificar Gestión
                            </v-chip>
                        
                              <v-form ref="form" v-model="form" lazy-validation>
                             <v-row>
                                 <v-col cols="12">
                                    <v-select @input="limpiarCampos()"  outlined v-model="model.tipificacion_id" item-value="id" item-text="item" :items="arrayTipificacion" :rules="[v => !!v || 'La Tipificación es Obligatoria']" label="Tipificación" required></v-select>
                                </v-col>
                                <v-col cols="12" v-if="model.tipificacion_id==2">
                                     <v-textarea maxlength="255" :rules="motivoRechazoRules" :counter="255" label="Motivo Rechazo" v-model="model.motivo_rechazo" no-resize outlined rows="4" row-height="25" ></v-textarea>
                                </v-col>
                             </v-row>
                             </v-form>
                            </v-col>
                            </v-row>
                    </v-container>

                    
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                    <v-btn color="indigo lighten-5"  @click="cerrarDialog()">Cancelar</v-btn>

                    <v-btn v-if="model.tipificacion!=''" class="white--text" :disabled="!form" color="deep-orange darken-1" depressed @click="guardarGestion()">Guardar Gestión</v-btn>
                    </v-card-actions>

                </v-card>
    </div>
</template>
<script>
import VerDatosGestionCambioPlan from "../verDatos/VerDatosGestionCambioPlan"
export default {
    components:{VerDatosGestionCambioPlan},
    props:['gestion','rol_id'],
    data() {
        return {
            model:{
                tipificacion_id:'',
                motivo_rechazo:'',
            },
            motivoRechazoRules:[
                v => !!v || 'Los Motivos de Rechazo son Obligatorios',
                v => (v && v.length <= 255 && v.length>=10) || 'Los Motivos de Rechazo  deben ser mayores a 10 caracteres y menores a 255',
            ],
             form:false,
             arrayTipificacion:[],
        }
    },
    methods: {
        listarEstados(){

            axios.post('/listarClasificacionItems',{
                nivel: 1,
                padre_id: null,
                clasificacion_id: 1,
            }).then(response=>{
                this.arrayTipificacion=response.data;
            })



       },
       limpiarCampos(){

           this.model.motivo_rechazo='';
       },
       guardarGestion(){
             if (this.$refs.form.validate()) {
                axios.post('/tipificarGestion',{
                    'model':this.model,
                    'gestion':this.gestion,
                }).then(response=>{
                    this.cerrarDialog();
                   this.mostrarMensaje();
                   this.listarGestion();
                   this.model.tipificacion_id='';
                   this.limpiarCampos();
                });
             }
       },
       cerrarDialog(){
           this.$emit('cerrarDialog');
       },
       mostrarMensaje(){
           this.$emit('mostrarMensaje');
       },
       listarGestion(){
           this.$emit('listarGestion');
       }

    },
    mounted(){
        this.listarEstados();
    }
}
</script>
