<template>
    <div>
         <v-card class="mx-auto" style="max-width: 1070px;">
                    <v-toolbar color="deep-orange darken-1" cards dark flat>
                    <h3>Datos Gestión</h3>
                    <div class="flex-grow-1"></div>
                    </v-toolbar>
                    <v-container>
                            <ver-datos-gestion-caso-especial :gestion="gestion"></ver-datos-gestion-caso-especial>
                         <v-row >
                            <v-col cols="6" >
                            <v-chip color="primary" outlined>
                                <v-icon left color="primary">list</v-icon>
                                Información Gestión
                            </v-chip>
                             <v-divider></v-divider>

                             <v-row>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Numero de caso: {{gestion.numero_caso ? gestion.numero_caso : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha registro: {{gestion.fecha_registro ? gestion.fecha_registro : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha cierre: {{gestion.fecha_cierre ? gestion.fecha_cierre : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Estado: {{gestion.estado ? gestion.estado : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Usuario Generador: {{gestion.usuario_generador ? gestion.usuario_generador : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Usuario Asignado: {{gestion.usuario_asignado ? gestion.usuario_asignado : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Observaciones: {{gestion.observaciones ? gestion.observaciones : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Respuesta: {{gestion.respuesta ? gestion.respuesta : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Nombre Cliente: {{gestion.nombre_cliente ? gestion.nombre_cliente : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Motivo Solicitud: {{gestion.motivo_solicitud ? gestion.motivo_solicitud : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Min: {{gestion.min ? gestion.min : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha Comunicacion: {{gestion.fecha_comunicacion ? gestion.fecha_comunicacion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Custcode: {{gestion.custcode ? gestion.custcode : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">User AC: {{gestion.user_ac ? gestion.user_ac : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Descripcion Propuesta: {{gestion.descripcion_propuesta ? gestion.descripcion_propuesta : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Motivo: {{gestion.motivo ? gestion.motivo : 'NO APLICA'}}</p>
                                 </v-col>
                             </v-row>


                            </v-col>

                            <v-col cols="6">
                                <!-- <h5  class="text-left  text-uppercase" colspan="4"></h5> -->
                                 <v-chip color="primary" outlined>
                                <v-icon left color="primary">check</v-icon>
                                Tipificar Gestión
                            </v-chip>
                             <v-divider></v-divider>
                              <v-form ref="form" v-model="form" lazy-validation>
                             <v-row>
                                <v-col cols="12">
                                    <v-select   outlined v-model="model.tipificacion_id" item-value="id" item-text="item" :items="arrayTipificacion" :rules="[v => !!v || 'La Tipificación es Obligatoria']" label="Tipificación" required></v-select>
                                </v-col>
                                <v-col cols="12">
                                    <v-textarea maxlength="500" v-if="model.tipificacion_id==60" :counter="500" label="tipificacion motivo pendiente" :rules="[v => !!v || 'La Observacion Pendiente es Obligatoria']" v-model="model.pendiente" no-resize outlined rows="4" row-height="25" ></v-textarea>
                                </v-col>
                                <v-col cols="12">
                                    <v-textarea maxlength="500" v-if="model.tipificacion_id==61" :counter="500" label="tipificacion Motivo En Espera" :rules="[v => !!v || 'La Observacion de Espera es Obligatoria']" v-model="model.en_espera" no-resize outlined rows="4" row-height="25" ></v-textarea>
                                </v-col>
                             </v-row>
                             </v-form>
                            </v-col>
                         </v-row>
                    </v-container>

                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                    <v-btn color="indigo lighten-5"  @click="cerrarDialog()">Cancelar</v-btn>

                    <v-btn v-if="model.tipificacion!=''" class="white--text" :disabled="!form" color="deep-orange darken-1" depressed @click="guardarGestion()">Guardar Gestión</v-btn>
                    </v-card-actions>

                </v-card>
    </div>
</template>
<script>
import VerDatosGestionCasoEspecial from "../verDatos/VerDatosGestionCasoEspecial"
export default {
    components:{VerDatosGestionCasoEspecial},
    props:['gestion','rol_id'],
    data() {
        return {
            model:{
                tipificacion_id:'',
                motivo_rechazo:'',
                pendiente:'',
                en_espera:'',
            },
            motivoRechazoRules:[
                v => !!v || 'Los Motivos de Rechazo son Obligatorios',
                v => (v && v.length <= 255 && v.length>=10) || 'Los Motivos de Rechazo  deben ser mayores a 10 caracteres y menores a 255',
            ],
             form:false,
             arrayTipificacion:[],
        }
    },
    methods: {
        listarEstados(){

            axios.post('/listarClasificacionItems',{
                nivel: 1,
                padre_id: null,
                clasificacion_id: 5,
            }).then(response=>{
                this.arrayTipificacion=response.data;
            })

       },

       guardarGestion(){
             if (this.$refs.form.validate()) {
                axios.post('/guardarGestionTablas',{
                    'model':this.model,
                     'gestion_id':this.gestion.id,
                }).then(response=>{
                    this.cerrarDialog();
                   this.model.tipificacion_id='';
                   this.model.pendiente='';
                   this.model.en_espera='';
                   this.mostrarMensaje();
                   this.listarGestion();
                });
             }
       },
       cerrarDialog(){
           this.$emit('cerrarDialog');
       },
       mostrarMensaje(){
           this.$emit('mostrarMensaje');
       },
       listarGestion(){
           this.$emit('listarGestion');
       }

    },
    mounted(){
        this.listarEstados();
    }
}
</script>
