<template>
    <div>
         <v-card class="mx-auto" style="max-width: 1070px;">
                    <v-toolbar color="deep-orange darken-1" cards dark flat>
                    <h3>Datos Gestión</h3>
                    <div class="flex-grow-1"></div>
                    </v-toolbar>
                    <v-container>
                            <ver-datos-gestion-cierre-pqr :gestion="gestion"></ver-datos-gestion-cierre-pqr>
                         <v-row >
                            <v-col cols="6" >
                            <v-chip color="primary" outlined>
                                <v-icon left color="primary">list</v-icon>
                                Información Gestión
                            </v-chip>
                             <v-divider></v-divider>

                             <v-row>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Nr cun: {{gestion.nr_cun ? gestion.nr_cun : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha recibido: {{gestion.fecha_recibido ? gestion.fecha_recibido : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Dias sap: {{gestion.dias_sap ? gestion.dias_sap : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Tipo pqr: {{gestion.tipo_pqr ? gestion.tipo_pqr : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Tipo Peticion: {{gestion.tipo_peticion ? gestion.tipo_peticion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Tipo reclamo: {{gestion.tipo_reclamo ? gestion.tipo_reclamo : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Sub Reclamo: {{gestion.subreclamo ? gestion.subreclamo : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Anexos: {{gestion.anexos ? gestion.anexos : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Remitente: {{gestion.remitente ? gestion.remitente : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Radicado por: {{gestion.radicaco_por ? gestion.radicaco_por : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Area Responsable: {{gestion.area_responsable ? gestion.area_responsable : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Analista Responsable: {{gestion.analista_responsable ? gestion.analista_responsable : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Min: {{gestion.min ? gestion.min : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha Silencio: {{gestion.fecha_silencio ? gestion.fecha_silencio : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha Silencio: {{gestion.fecha_silencio ? gestion.fecha_silencio : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Consecutivo Salida: {{gestion.consecutivo_salida ? gestion.consecutivo_salida : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Area Radicacion: {{gestion.area_radicacion ? gestion.area_radicacion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Codigo id: {{gestion.codigo_id ? gestion.codigo_id : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Region: {{gestion.region ? gestion.region : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Direccion: {{gestion.direccion ? gestion.direccion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Ciudad: {{gestion.ciudad ? gestion.ciudad : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Distribuidor: {{gestion.distribuidor ? gestion.distribuidor : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Ciclo Fact: {{gestion.ciclo_fact ? gestion.ciclo_fact : 'NO APLICA'}}</p>
                                 </v-col>
                                
                             </v-row>


                            </v-col>

                            <v-col cols="6">
                                <!-- <h5  class="text-left  text-uppercase" colspan="4"></h5> -->
                                 <v-chip color="primary" outlined>
                                <v-icon left color="primary">check</v-icon>
                                Tipificar Gestión
                            </v-chip>
                             <v-divider></v-divider>
                              <v-form ref="form" v-model="form" lazy-validation>
                             <v-row>
                                 <v-col cols="12">
                                    <v-select   outlined v-model="model.tipificacion_id" item-value="id" item-text="item" :items="arrayTipificacion" :rules="[v => !!v || 'La Tipificación es Obligatoria']" label="Tipificación" required></v-select>
                                </v-col>

                             </v-row>
                             </v-form>
                            </v-col>
                         </v-row>
                    </v-container>

                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                    <v-btn color="indigo lighten-5"  @click="cerrarDialog()">Cancelar</v-btn>

                    <v-btn v-if="model.tipificacion!=''" class="white--text" :disabled="!form" color="deep-orange darken-1" depressed @click="guardarGestion()">Guardar Gestión</v-btn>
                    </v-card-actions>

                </v-card>
    </div>
</template>
<script>
import VerDatosGestionCierrePqr from "../verDatos/verDatosGestionCierrePqr"
export default {
    components:{VerDatosGestionCierrePqr},
    props:['gestion','rol_id'],
    data() {
        return {
            model:{
                tipificacion_id:'',
                motivo_rechazo:'',
            },
            motivoRechazoRules:[
                v => !!v || 'Los Motivos de Rechazo son Obligatorios',
                v => (v && v.length <= 255 && v.length>=10) || 'Los Motivos de Rechazo  deben ser mayores a 10 caracteres y menores a 255',
            ],
             form:false,
             arrayTipificacion:[],
        }
    },
    methods: {
        listarEstados(){

            axios.post('/listarClasificacionItems',{
                nivel: 1,
                padre_id: null,
                clasificacion_id: 3,
            }).then(response=>{
                this.arrayTipificacion=response.data;
            })

       },

       guardarGestion(){
             if (this.$refs.form.validate()) {
                axios.post('/guardarGestionTablas',{
                    'model':this.model,
                     'gestion_id':this.gestion.id,
                }).then(response=>{
                    this.cerrarDialog();
                   this.model.tipificacion_id='';
                   this.mostrarMensaje();
                   this.listarGestion();
                });
             }
       },
       cerrarDialog(){
           this.$emit('cerrarDialog');
       },
       mostrarMensaje(){
           this.$emit('mostrarMensaje');
       },
       listarGestion(){
           this.$emit('listarGestion');
       }

    },
    mounted(){
        this.listarEstados();
    }
}
</script>
