<template>
    <v-card class="mx-auto" style="max-width: 1070px;">
                    <v-toolbar color="deep-orange darken-1" cards dark flat>
                    <h3>Datos Gestión</h3>
                    <div class="flex-grow-1"></div>
                    </v-toolbar>
                    <v-container>
                       <ver-datos-gestion-inconsistencias :gestion="gestion"></ver-datos-gestion-inconsistencias>
                         <v-divider></v-divider>
                                <v-chip color="primary" outlined>
                            <v-icon left color="primary " >check</v-icon>
                            Tipificar Gestión
                        </v-chip>
                        
                            <v-form ref="form" v-model="form" lazy-validation>
                            <v-row>
                                <v-col cols="4">
                                    <v-select   outlined v-model="model.justificacion_id" item-value="id" item-text="item" :items="arrayJustificacion" :rules="[v => !!v || 'La Justificación es Obligatoria']" label="Justificación" required></v-select>
                                </v-col>
                                <v-col cols="4">
                                    <v-select @input="limpiarCamposSecundarios(1)"   outlined v-model="model.aplica_ajuste" item-value="item" item-text="item" :items="arrayAplicaAjuste" :rules="[v => !!v || 'Aplica Ajuste es Obligatorio']" label="Aplica Ajuste" required></v-select>
                                </v-col>
                                <v-col cols="4">
                                    <v-select v-if="model.aplica_ajuste=='Si'" @input="limpiarCamposSecundarios(2)"   outlined v-model="model.ajuste_compartido" item-value="item" item-text="item" :items="arrayAjusteCompartido" :rules="[v => !!v || 'Ajuste Compartido']" label="Ajuste Compartido" required></v-select>
                                </v-col>
                            
                            </v-row>
                             <v-divider  v-if="model.ajuste_compartido!=''"></v-divider>
                            <v-row>
                                <v-col cols="6" v-if="model.ajuste_compartido!=''">
                                 
                                <v-chip color="primary" class="mb-5" outlined>
                                    <v-icon left color="primary ">accessibility_new</v-icon>
                                    Primer Asesor a Justificar
                                </v-chip>
                                
                                    <v-menu ref="menu1" v-model="menu1" :close-on-content-click="false" :return-value.sync="model.fecha_inconsistencia" transition="scale-transition" offset-y  min-width="290px">
                                        <template v-slot:activator="{ on }">
                                            <v-text-field v-model="model.fecha_inconsistencia" label="Fecha Inconsistencia"  outlined readonly v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker v-model="model.fecha_inconsistencia" no-title scrollable  locale="ES">
                                            <div class="flex-grow-1"></div>
                                            <v-btn text color="primary" @click="menu1 = false">Cancelar</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu1.save(model.fecha_inconsistencia)">Aceptar</v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                
                                
                                    <v-menu ref="menu2" v-model="menu2" :close-on-content-click="false" :return-value.sync="model.fecha_reporte" transition="scale-transition" offset-y  min-width="290px">
                                        <template v-slot:activator="{ on }">
                                            <v-text-field v-model="model.fecha_reporte" label="Fecha Reporte"  outlined readonly v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker v-model="model.fecha_reporte" no-title scrollable  locale="ES">
                                            <div class="flex-grow-1"></div>
                                            <v-btn text color="primary" @click="menu2 = false">Cancelar</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu2.save(model.fecha_reporte)">Aceptar</v-btn>
                                        </v-date-picker>
                                    </v-menu>

                                 <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.min" :counter="25" :rules="[v => !!v || 'MIN es Obligatorio']" label="MIN" required></v-text-field>
                                  <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.custcode" :counter="25" :rules="[v => !!v || 'Custocode es Obligatorio']" label="Custocode" required></v-text-field>
                                  <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.customer_id" :counter="25" :rules="[v => !!v || 'Customer ID es Obligatorio']" label="Customer ID" required></v-text-field>
                                  <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.valor_sin_iva" :counter="25" :rules="[v => !!v || 'Valor Sin Iva es Obligatorio']" label="Valor Sin Iva" required></v-text-field>
                                  <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.total" :counter="25" :rules="[v => !!v || 'Total es Obligatorio']" label="Total" required></v-text-field>
                                 <v-text-field   maxlength="600" outlined v-model="model.rta_caso" :counter="600" :rules="[v => !!v || 'RTA Caso es Obligatorio']" label="RTA Caso" required></v-text-field>
                                 <v-text-field   maxlength="255" outlined v-model="model.responsable" :counter="255" :rules="[v => !!v || 'Responsable es Obligatorio']" label="Responsable" required></v-text-field>
                                 <v-text-field   maxlength="255" outlined v-model="model.cc" :counter="255" :rules="[v => !!v || ' CC es Obligatorio']" label="CC" required></v-text-field>
                                  <v-text-field   maxlength="255" outlined v-model="model.user" :counter="255" :rules="[v => !!v || ' User es Obligatorio']" label="User" required></v-text-field>
                                 <v-text-field   maxlength="255" outlined v-model="model.estado" :counter="255" :rules="[v => !!v || 'Estado es Obligatorio']" label="Estado" required></v-text-field>
                                <v-autocomplete @input="model.otro=''"   outlined v-model="model.tipificacion_id" item-value="id" item-text="item" :items="arrayTipificacion" :rules="[v => !!v || 'Tipificación es Obligatoria']" label="Tipificación" required></v-autocomplete >
                                 <v-textarea maxlength="500" v-if="model.tipificacion_id==58" :counter="500" label="Tipificación 2" :rules="[v => !!v || 'Tipificación 2 es Obligatorio']" v-model="model.otro" no-resize outlined rows="4" row-height="25" ></v-textarea>


                            
                                </v-col>
                                <v-col cols="6"  v-if="model.ajuste_compartido=='Si'">
                                      
                                <v-chip color="primary" class="mb-5" outlined>
                                    <v-icon left color="primary ">accessibility_new</v-icon>
                                    Segundo Asesor a Justificar
                                </v-chip>
                                 <v-menu ref="menu3" v-model="menu3" :close-on-content-click="false" :return-value.sync="model.fecha_inconsistencia2" transition="scale-transition" offset-y  min-width="290px">
                                        <template v-slot:activator="{ on }">
                                            <v-text-field v-model="model.fecha_inconsistencia2" label="Fecha Inconsistencia"  outlined readonly v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker  v-model="model.fecha_inconsistencia2" no-title scrollable  locale="ES">
                                            <div class="flex-grow-1"></div>
                                            <v-btn text color="primary" @click="menu3 = false">Cancelar</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu3.save(model.fecha_inconsistencia2)">Aceptar</v-btn>
                                        </v-date-picker>
                                    </v-menu>
                                
                                
                                    <v-menu ref="menu4" v-model="menu4" :close-on-content-click="false" :return-value.sync="model.fecha_reporte2" transition="scale-transition" offset-y  min-width="290px">
                                        <template v-slot:activator="{ on }">
                                            <v-text-field v-model="model.fecha_reporte2" label="Fecha Reporte"  outlined readonly v-on="on"></v-text-field>
                                        </template>
                                        <v-date-picker  v-model="model.fecha_reporte2" no-title scrollable  locale="ES">
                                            <div class="flex-grow-1"></div>
                                            <v-btn text color="primary" @click="menu4 = false">Cancelar</v-btn>
                                            <v-btn text color="primary" @click="$refs.menu4.save(model.fecha_reporte2)">Aceptar</v-btn>
                                        </v-date-picker>
                                    </v-menu>

                                 <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.min2" :counter="25" :rules="[v => !!v || 'MIN es Obligatorio']" label="MIN" required></v-text-field>
                                  <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.custcode2" :counter="25" :rules="[v => !!v || 'Custocode es Obligatorio']" label="Custocode" required></v-text-field>
                                  <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.customer_id2" :counter="25" :rules="[v => !!v || 'Customer ID es Obligatorio']" label="Customer ID" required></v-text-field>
                                  <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.valor_sin_iva2" :counter="25" :rules="[v => !!v || 'Valor Sin Iva es Obligatorio']" label="Valor Sin Iva" required></v-text-field>
                                  <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.total2" :counter="25" :rules="[v => !!v || 'Total es Obligatorio']" label="Total" required></v-text-field>
                                 <v-text-field   maxlength="600" outlined v-model="model.rta_caso2" :counter="600" :rules="[v => !!v || 'RTA Caso es Obligatorio']" label="RTA Caso" required></v-text-field>
                                 <v-text-field   maxlength="255" outlined v-model="model.responsable2" :counter="255" :rules="[v => !!v || 'Responsable es Obligatorio']" label="Responsable" required></v-text-field>
                                 <v-text-field   maxlength="255" outlined v-model="model.cc2" :counter="255" :rules="[v => !!v || ' CC es Obligatorio']" label="CC" required></v-text-field>
                                  <v-text-field   maxlength="255" outlined v-model="model.user2" :counter="255" :rules="[v => !!v || ' User es Obligatorio']" label="User" required></v-text-field>
                                 <v-text-field   maxlength="255" outlined v-model="model.estado2" :counter="255" :rules="[v => !!v || 'Estado es Obligatorio']" label="Estado" required></v-text-field>
                                <v-autocomplete @input="model.otro2=''"   outlined v-model="model.tipificacion_id2" item-value="id" item-text="item" :items="arrayTipificacion" :rules="[v => !!v || 'Tipificación es Obligatoria']" label="Tipificación" required></v-autocomplete>
                                 <v-textarea maxlength="500" v-if="model.tipificacion_id2==58" :counter="500" label="Tipificación 2" :rules="[v => !!v || 'Tipificación 2 es Obligatorio']" v-model="model.otro2" no-resize outlined rows="4" row-height="25" ></v-textarea>

                                </v-col>
                            </v-row>
                            </v-form>
                    </v-container>
                    
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                    <v-btn color="indigo lighten-5"  @click="cerrarDialog()">Cancelar</v-btn>
                        
                    <v-btn  class="white--text" :disabled="!form" color="deep-orange darken-1" depressed @click="guardarGestion()">Guardar Gestión</v-btn>
                    </v-card-actions>
                    <v-dialog v-model="dialogEnviar" persistent max-width="290">
                        
                        <v-card class="mx-auto" style="max-width: 500px;">
                            
                            <v-toolbar color="primary" cards dark flat>
                            
                            <h3>Guardar Gestión</h3>
                            <div class="flex-grow-1"></div>
                            
                            </v-toolbar>
                            <v-card-text class="subtitle-1 mb-1">Deseas Guardar esta Gestión? </v-card-text>
                            
                            <v-card-actions>
                            <v-btn text @click="dialogEnviar=false">Cancelar</v-btn>
                                <div class="flex-grow-1"></div>
                            <v-btn class="white--text" color="primary" depressed @click="enviarGestion()">Aceptar</v-btn>
                            </v-card-actions>
                            
                        </v-card>
                    </v-dialog>                                        
                </v-card>
                
</template>
<script>
import VerDatosGestionInconsistencias from "../verDatos/verDatosGestionInconsistencias";
export default {
    props:['gestion','rol_id'],
    components:{VerDatosGestionInconsistencias},
    data() {
        return {
            model:{
                justificacion_id:'',
                aplica_ajuste:'',
                ajuste_compartido:'',
                
                fecha_inconsistencia:new Date().toISOString().substr(0, 10),
                fecha_reporte:new Date().toISOString().substr(0, 10),
                min:'',
                custcode:'',
                customer_id:'',
                valor_sin_iva:'',
                total:'',
                rta_caso:'',
                responsable:'',
                cc:'',
                user:'',
                estado:'',
                tipificacion_id:'',
                otro:'',

                // los datos del segundo formulario
                fecha_inconsistencia2:new Date().toISOString().substr(0, 10),
                fecha_reporte2:new Date().toISOString().substr(0, 10),
                min2:'',
                custcode2:'',
                customer_id2:'',
                valor_sin_iva2:'',
                total2:'',
                rta_caso2:'',
                responsable2:'',
                cc2:'',
                user2:'',
                estado2:'',
                tipificacion_id2:'',
                otro2:'',
                
            },
             form:false,
             dialogEnviar:false,
            

             arrayJustificacion:[],
             arrayTipificacion:[],
             arrayAplicaAjuste:[
                 {id:1,item:'Si'},
                 {id:2,item:'No'},
             ],
             arrayAjusteCompartido:[
                 {id:1,item:'Si'},
                 {id:2,item:'No'},
             ],
             menu1:false,
             menu2:false,

             menu3:false,
             menu4:false,
           
              


        }
    },
    methods: {
        limpiarCamposSecundarios(val){
                if (val==1) {
                    // si el valor es el de aplica ajuste 
                    this.model.ajuste_compartido='';
                }
                this.model.fecha_inconsistencia2=new Date().toISOString().substr(0, 10);
                this.model.fecha_reporte2=new Date().toISOString().substr(0, 10);
                this.model. min2='';
                this.model.custcode2='';
                this.model.customer_id2='';
                this.model.valor_sin_iva2='';
                this.model.total2='';
                this.model.rta_caso2='';
                this.model.responsable2='';
                this.model.cc2='';
                this.model.user2='';
                this.model.estado2='';
                this.model.tipificacion_id2='';
                this.model.otro2='';
        },
        limpiarTodosCampos(){
            this.model.fecha_inconsistencia=new Date().toISOString().substr(0, 10);
                this.model.fecha_reporte=new Date().toISOString().substr(0, 10);
                this.model. min='';
                this.model.custcode='';
                this.model.customer_id='';
                this.model.valor_sin_iva='';
                this.model.total='';
                this.model.rta_caso='';
                this.model.responsable='';
                this.model.cc='';
                this.model.user='';
                this.model.estado='';
                this.model.tipificacion_id='';
                this.model.otro='';
                this.limpiarCamposSecundarios(1);
        },
        listarEstados(){

            axios.post('/listarClasificacionItems',{
                nivel: 1,
                padre_id: null,
                clasificacion_id: 8,
            }).then(response=>{
                this.arrayJustificacion=response.data;
            })    
           
       },
       onlyNumber ($event) {
        let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                $event.preventDefault();
            }
        },
       listarTipificacion(){
            axios.post('/listarClasificacionItems',{
                nivel: 1,
                padre_id: null,
                clasificacion_id: 9,
            }).then(response=>{
                this.arrayTipificacion=response.data;
            })    
       },
       enviarGestion(){
          axios.post('guardarGestionTablas',{
              'model':this.model,
              'gestion_id':this.gestion.id,
          }).then(response=>{
              
              this.listarGestion();
              this.cerrarDialog();
              this.mostrarMensaje();
              

          });
       },
       guardarGestion(){
             if (this.$refs.form.validate()) {
                this.dialogEnviar=true;
             }
       },
         cerrarDialog(){
           this.limpiarTodosCampos();
            this.model.justificacion_id='';
            this.model.aplica_ajuste='';
           this.$emit('cerrarDialog');
       },
       mostrarMensaje(){
           this.$emit('mostrarMensaje');
       },
       listarGestion(){
           this.$emit('listarGestion');
       }
    },
    mounted() {
        this.listarEstados();
        this.listarTipificacion();
    },
}
</script>