<template>
    <div>
         <v-card class="mx-auto" style="max-width: 1070px;">
                    <v-toolbar color="deep-orange darken-1" cards dark flat>
                    <h3>Datos Gestión</h3>
                    <div class="flex-grow-1"></div>
                    </v-toolbar>
                    <v-container>
                            <ver-datos-gestion-retenido :gestion="gestion"></ver-datos-gestion-retenido>
                         <v-row >
                            <v-col cols="6" >
                            <v-chip color="primary" outlined>
                                <v-icon left color="primary">list</v-icon>
                                Información Gestión
                            </v-chip>
                             <v-divider></v-divider>

                             <v-row>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Tipo de Gestion: {{gestion.tipo_gestion ? gestion.tipo_gestion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha: {{gestion.fecha ? gestion.fecha : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Usuario Agente: {{gestion.usuario_agente ? gestion.usuario_agente : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Contrato: {{gestion.contrato ? gestion.contrato : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Min Ac: {{gestion.min_ac ? gestion.min_ac : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">UCID: {{gestion.ucid ? gestion.ucid : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Custcode: {{gestion.custcode ? gestion.custcode : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Nombre del Cliente: {{gestion.nombre_cliente ? gestion.nombre_cliente : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Cedula: {{gestion.cedula_cliente ? gestion.cedula_cliente : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Corte Linea: {{gestion.corte_linea ? gestion.corte_linea : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Tipificacion: {{gestion.tipificacion ? gestion.tipificacion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Tipificacion2: {{gestion.tipificacion2 ? gestion.tipificacion2 : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Tipificacion3: {{gestion.tipificacion3 ? gestion.tipificacion3 : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Tipificacion4: {{gestion.tipificacion4 ? gestion.tipificacion4 : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Motivo Cancelacion: {{gestion.motivo_cancelacion ? gestion.motivo_cancelacion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Observacion Cancelacion: {{gestion.observacion_cancelacion ? gestion.observacion_cancelacion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Solicita Ajuste: {{gestion.solicita_ajuste ? gestion.solicita_ajuste : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Valor Ajuste: {{gestion.valor_ajuste ? gestion.valor_ajuste : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Call Transfiere: {{gestion.call_transfiere ? gestion.call_transfiere : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">ID plan actual: {{gestion.id_plan_actual ? gestion.id_plan_actual : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Plan Actual: {{gestion.plan_actual ? gestion.plan_actual : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Precio Actual: {{gestion.precio_actual ? gestion.precio_actual : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">ID plan nuevo: {{gestion.id_plan_nuevo ? gestion.id_plan_nuevo : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Plan Nuevo: {{gestion.plan_nuevo ? gestion.plan_nuevo : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Precio Nuevo: {{gestion.precio_nuevo ? gestion.precio_nuevo : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Valor Diferenciado: {{gestion.valor_diferenciado ? gestion.valor_diferenciado : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Indicador Erosion: {{gestion.indicador_erosion ? gestion.indicador_erosion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha Corte: {{gestion.fecha_corte ? gestion.fecha_corte : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Observacion 1: {{gestion.observacion1 ? gestion.observacion1 : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Observacion 2: {{gestion.observacion2 ? gestion.observacion2 : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Usuario Evasion: {{gestion.usuario_evasion ? gestion.usuario_evasion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha Evasion: {{gestion.fecha_evasion ? gestion.fecha_evasion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Formato Novedades: {{gestion.formato_novedades ? gestion.formato_novedades : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Tipificacion Erosion: {{gestion.tipificacion_erosion ? gestion.tipificacion_erosion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Plan Actual Erosion: {{gestion.plan_actual_erosion ? gestion.plan_actual_erosion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Precio Actual Erosion: {{gestion.precio_actual_erosion ? gestion.precio_actual_erosion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Plan Nuevo Erosion: {{gestion.plan_nuevo_erosion ? gestion.plan_nuevo_erosion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Precio Nuevo Erosion: {{gestion.precio_nuevo_erosion ? gestion.precio_nuevo_erosion : 'NO APLICA'}}</p>
                                 </v-col>                                                                   
                             </v-row>


                            </v-col>

                            <v-col cols="6">
                                <!-- <h5  class="text-left  text-uppercase" colspan="4"></h5> -->
                                 <v-chip color="primary" outlined>
                                <v-icon left color="primary">check</v-icon>
                                Tipificar Gestión
                            </v-chip>
                             <v-divider></v-divider>
                              <v-form ref="form" v-model="form" lazy-validation>
                             <v-row>
                                <v-col cols="12">
                                    <v-select   outlined v-model="model.tipificacion_id" item-value="id" item-text="item" :items="arrayTipificacion" :rules="[v => !!v || 'La Tipificación es Obligatoria']" label="Tipificación" required></v-select>
                                </v-col> 
                                <v-col cols="12">                                    
                                    <v-textarea maxlength="500" v-if="model.tipificacion_id==69" :counter="500" label="tipificacion motivo otro" :rules="[v => !!v || 'otro 2 es Obligatorio']" v-model="model.otro2" no-resize outlined rows="4" row-height="25" ></v-textarea>
                                </v-col>                                                      
                             </v-row>                  
                             </v-form>
                            </v-col>
                         </v-row>
                    </v-container>

                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                    <v-btn color="indigo lighten-5"  @click="cerrarDialog()">Cancelar</v-btn>

                    <v-btn v-if="model.tipificacion!=''" class="white--text" :disabled="!form" color="deep-orange darken-1" depressed @click="guardarGestion()">Guardar Gestión</v-btn>
                    </v-card-actions>

                </v-card>
    </div>
</template>
<script>
import VerDatosGestionRetenido from "../verDatos/VerDatosGestionRetenido"
export default {
    components:{VerDatosGestionRetenido},
    props:['gestion','rol_id'],
    data() {
        return {
            model:{
                tipificacion_id:'',
                motivo_rechazo:'',
                otro2:'',
            },
            motivoRechazoRules:[
                v => !!v || 'Los Motivos de Rechazo son Obligatorios',
                v => (v && v.length <= 255 && v.length>=10) || 'Los Motivos de Rechazo  deben ser mayores a 10 caracteres y menores a 255',
            ],
             form:false,
             arrayTipificacion:[],
        }
    },
    methods: {
        listarEstados(){

            axios.post('/listarClasificacionItems',{
                nivel: 1,
                padre_id: null,
                clasificacion_id: 6,
            }).then(response=>{
                this.arrayTipificacion=response.data;
            })

       },

       guardarGestion(){
             if (this.$refs.form.validate()) {
                axios.post('/guardarGestionTablas',{
                    'model':this.model,
                     'gestion_id':this.gestion.id,
                }).then(response=>{
                    this.cerrarDialog();
                   this.model.tipificacion_id='';
                   this.model.otro2='';
                   this.mostrarMensaje();
                   this.listarGestion();
                });
             }
       },
       cerrarDialog(){
           this.$emit('cerrarDialog');
       },
       mostrarMensaje(){
           this.$emit('mostrarMensaje');
       },
       listarGestion(){
           this.$emit('listarGestion');
       }

    },
    mounted(){
        this.listarEstados();
    }
}
</script>
