<template>
    <div style="width:100%">
         <v-card flat>
             <v-toolbar color="primary" dark extended elevation-10 ></v-toolbar>
             <v-card class="mx-auto"  style="margin-top: -64px;">
      <v-toolbar flat>
          <h1><strong>Casos</strong></h1>
        <div class="flex-grow-1"></div>        
                    <div class="flex-grow-1"></div>
        <div class="flex-grow-1"></div>        
      </v-toolbar>
      <v-divider></v-divider>
       <v-toolbar flat>
        <div class="flex-grow-1"></div>
      </v-toolbar>
      <v-col>
            <v-form ref="form" v-model="form" lazy-validation>
                <v-row>
                    <v-col cols="4">
                        <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.min" :counter="25" :rules="[v => !!v || 'MIN es Obligatorio']" label="MIN" required dense></v-text-field>
                    </v-col>
                    <v-col cols="4">
                        <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.custcode" :counter="25" :rules="[v => !!v || 'Custocode es Obligatorio']" label="Custocode" required dense></v-text-field>
                    </v-col>
                    <v-col cols="4">
                        <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.numero_pqr" :counter="25" :rules="[v => !!v || 'Numero PQR o Calidad es Obligatorio']" label="Número PQR" required dense></v-text-field>
                    </v-col>
                    <v-col cols="4">
                        <v-menu v-model="menu5" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field v-model="model.fecha_recibido" label="Fecha Recibido" readonly v-on="on" outlined dense required></v-text-field>
                            </template>
                        <v-date-picker v-model="model.fecha_recibido" @input="menu5 = false"></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col cols="4">
                        <v-menu v-model="menu6" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px">
                            <template v-slot:activator="{ on }">
                                <v-text-field v-model="model.fecha_respuesta" label="Fecha Respuesta" readonly v-on="on" outlined dense required></v-text-field>
                            </template>
                        <v-date-picker v-model="model.fecha_respuesta" @input="menu6 = false"></v-date-picker>
                        </v-menu>
                    </v-col>
                    <v-col cols="4">
                        <v-text-field maxlength="25" outlined v-model="model.remitente" :counter="25" :rules="[v => !!v || 'Remitente es Obligatorio']" label="Remitente" required dense></v-text-field>
                    </v-col>
                    <v-col cols="4">
                        <v-text-field maxlength="600" outlined v-model="model.respuesta" :counter="600" :rules="[v => !!v || 'Respuesta es Obligatorio']" label="Respuesta" required dense></v-text-field>
                    </v-col>
                    <v-col cols="4">
                        <v-text-field maxlength="150" outlined v-model="model.asunto" :counter="150" :rules="[v => !!v || 'Asunto es Obligatorio']" label="Asunto" required dense></v-text-field>
                    </v-col>
                    <v-col cols="4">
                        <v-select @input="limpiarCamposSecundarios(1)"   outlined v-model="model.aplica_ajuste" item-value="item" item-text="item" :items="arrayAplicaAjuste" :rules="[v => !!v || 'Aplica Ajuste es Obligatorio']" label="Aplica Ajuste" required dense></v-select>
                    </v-col>
                    <v-col cols="4">
                        <v-select v-if="model.aplica_ajuste=='Si'" @input="limpiarCamposSecundarios(2)"   outlined v-model="model.ajuste_compartido" item-value="item" item-text="item" :items="arrayAjusteCompartido" :rules="[v => !!v || 'Ajuste Compartido']" label="Ajuste Compartido" required dense></v-select>
                    </v-col>
                
                </v-row>
                    <v-divider  v-if="model.ajuste_compartido!=''"></v-divider> 
                             <v-divider  v-if="model.ajuste_compartido!=''"></v-divider>
                    <v-divider  v-if="model.ajuste_compartido!=''"></v-divider> 
                <v-row>

                    <v-col cols="6" v-if="model.ajuste_compartido=='Si' || model.ajuste_compartido=='No'">
                        
                        <v-chip color="primary" class="mb-5" outlined>
                            <v-icon left color="primary ">accessibility_new</v-icon>
                            Primer Asesor a Justificar
                        </v-chip>
                        
                            <v-menu ref="menu1" v-model="menu1" :close-on-content-click="false" :return-value.sync="model.fecha_inconsistencia" transition="scale-transition" offset-y  min-width="290px">
                                <template v-slot:activator="{ on }">
                                    <v-text-field v-model="model.fecha_inconsistencia" label="Fecha Inconsistencia"  outlined readonly v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="model.fecha_inconsistencia" no-title scrollable  locale="ES">
                                    <div class="flex-grow-1"></div>
                                    <v-btn text color="primary" @click="menu1 = false">Cancelar</v-btn>
                                    <v-btn text color="primary" @click="$refs.menu1.save(model.fecha_inconsistencia)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>
                        
                        
                            <v-menu ref="menu2" v-model="menu2" :close-on-content-click="false" :return-value.sync="model.fecha_reporte" transition="scale-transition" offset-y  min-width="290px">
                                <template v-slot:activator="{ on }">
                                    <v-text-field v-model="model.fecha_reporte" label="Fecha Reporte"  outlined readonly v-on="on"></v-text-field>
                                </template>
                                <v-date-picker v-model="model.fecha_reporte" no-title scrollable  locale="ES">
                                    <div class="flex-grow-1"></div>
                                    <v-btn text color="primary" @click="menu2 = false">Cancelar</v-btn>
                                    <v-btn text color="primary" @click="$refs.menu2.save(model.fecha_reporte)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>

                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.min2" :counter="25" :rules="[v => !!v || 'MIN es Obligatorio']" label="MIN" required></v-text-field>
                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.custcode2" :counter="25" :rules="[v => !!v || 'Custocode es Obligatorio']" label="Custocode" required></v-text-field>
                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.customer_id" :counter="25" :rules="[v => !!v || 'Customer ID es Obligatorio']" label="Customer ID" required></v-text-field>
                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.valor_sin_iva" :counter="25" :rules="[v => !!v || 'Valor Sin Iva es Obligatorio']" label="Valor Sin Iva" required></v-text-field>
                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.total" :counter="25" :rules="[v => !!v || 'Total es Obligatorio']" label="Total" required></v-text-field>
                            <v-text-field   maxlength="600" outlined v-model="model.rta_caso" :counter="600" :rules="[v => !!v || 'RTA Caso es Obligatorio']" label="RTA Caso" required></v-text-field>
                            <v-text-field   maxlength="255" outlined v-model="model.responsable" :counter="255" :rules="[v => !!v || 'Responsable es Obligatorio']" label="Responsable" required></v-text-field>
                            <v-text-field   maxlength="255" outlined v-model="model.cc" :counter="255" :rules="[v => !!v || ' CC es Obligatorio']" label="CC" required></v-text-field>
                            <v-text-field   maxlength="255" outlined v-model="model.user" :counter="255" :rules="[v => !!v || ' User es Obligatorio']" label="User" required></v-text-field>
                            <v-text-field   maxlength="255" outlined v-model="model.estado" :counter="255" :rules="[v => !!v || 'Estado es Obligatorio']" label="Estado" required></v-text-field>
                            <v-autocomplete @input="model.otro=''"   outlined v-model="model.tipificacion_id" item-value="id" item-text="item" :items="arrayTipificacion" :rules="[v => !!v || 'Tipificación es Obligatoria']" label="Tipificación" required></v-autocomplete >
                            <v-textarea maxlength="500" v-if="model.tipificacion_id==58" :counter="500" label="Tipificación 2" :rules="[v => !!v || 'Tipificación 2 es Obligatorio']" v-model="model.otro" no-resize outlined rows="4" row-height="25" ></v-textarea>


                    
                    </v-col>
                    <v-col cols="6"  v-if="model.ajuste_compartido=='Si'">
                            
                        <v-chip color="primary" class="mb-5" outlined>
                            <v-icon left color="primary ">accessibility_new</v-icon>
                            Segundo Asesor a Justificar
                        </v-chip>
                            <v-menu ref="menu3" v-model="menu3" :close-on-content-click="false" :return-value.sync="model.fecha_inconsistencia2" transition="scale-transition" offset-y  min-width="290px">
                                <template v-slot:activator="{ on }">
                                    <v-text-field v-model="model.fecha_inconsistencia2" label="Fecha Inconsistencia"  outlined readonly v-on="on"></v-text-field>
                                </template>
                                <v-date-picker  v-model="model.fecha_inconsistencia2" no-title scrollable  locale="ES">
                                    <div class="flex-grow-1"></div>
                                    <v-btn text color="primary" @click="menu3 = false">Cancelar</v-btn>
                                    <v-btn text color="primary" @click="$refs.menu3.save(model.fecha_inconsistencia2)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>
                        
                        
                            <v-menu ref="menu4" v-model="menu4" :close-on-content-click="false" :return-value.sync="model.fecha_reporte2" transition="scale-transition" offset-y  min-width="290px">
                                <template v-slot:activator="{ on }">
                                    <v-text-field v-model="model.fecha_reporte2" label="Fecha Reporte"  outlined readonly v-on="on"></v-text-field>
                                </template>
                                <v-date-picker  v-model="model.fecha_reporte2" no-title scrollable  locale="ES">
                                    <div class="flex-grow-1"></div>
                                    <v-btn text color="primary58	141234	124123	41242134	SI	" @click="menu4 = false">Cancelar</v-btn>
                                    <v-btn text color="primary" @click="$refs.menu4.save(model.fecha_reporte2)">Aceptar</v-btn>
                                </v-date-picker>
                            </v-menu>

                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.min3" :counter="25" :rules="[v => !!v || 'MIN es Obligatorio']" label="MIN" required></v-text-field>
                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.custcode3" :counter="25" :rules="[v => !!v || 'Custocode es Obligatorio']" label="Custocode" required></v-text-field>
                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.customer_id2" :counter="25" :rules="[v => !!v || 'Customer ID es Obligatorio']" label="Customer ID" required></v-text-field>
                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.valor_sin_iva2" :counter="25" :rules="[v => !!v || 'Valor Sin Iva es Obligatorio']" label="Valor Sin Iva" required></v-text-field>
                            <v-text-field @keypress="onlyNumber"   maxlength="25" outlined v-model="model.total2" :counter="25" :rules="[v => !!v || 'Total es Obligatorio']" label="Total" required></v-text-field>
                            <v-text-field   maxlength="600" outlined v-model="model.rta_caso2" :counter="600" :rules="[v => !!v || 'RTA Caso es Obligatorio']" label="RTA Caso" required></v-text-field>
                            <v-text-field   maxlength="255" outlined v-model="model.responsable2" :counter="255" :rules="[v => !!v || 'Responsable es Obligatorio']" label="Responsable" required></v-text-field>
                            <v-text-field   maxlength="255" outlined v-model="model.cc2" :counter="255" :rules="[v => !!v || ' CC es Obligatorio']" label="CC" required></v-text-field>
                            <v-text-field   maxlength="255" outlined v-model="model.user2" :counter="255" :rules="[v => !!v || ' User es Obligatorio']" label="User" required></v-text-field>
                            <v-text-field   maxlength="255" outlined v-model="model.estado2" :counter="255" :rules="[v => !!v || 'Estado es Obligatorio']" label="Estado" required></v-text-field>
                            <v-autocomplete @input="model.otro2=''"   outlined v-model="model.tipificacion_id2" item-value="id" item-text="item" :items="arrayTipificacion" :rules="[v => !!v || 'Tipificación es Obligatoria']" label="Tipificación" required></v-autocomplete>
                            <v-textarea maxlength="500" v-if="model.tipificacion_id2==58" :counter="500" label="Tipificación 2" :rules="[v => !!v || 'Tipificación 2 es Obligatorio']" v-model="model.otro2" no-resize outlined rows="4" row-height="25" ></v-textarea>

                    </v-col>
                </v-row>
                </v-form>
                    <v-card-actions :disabled="!form">
                        <div class="flex-grow-1"></div>
                    <v-btn color="indigo lighten-5"  @click="cerrarDialog()">Cancelar</v-btn>
                        
                    <v-btn class="white--text" :disabled='!form' color="deep-orange darken-1" depressed @click="guardarGestion()">Guardar Gestión</v-btn>
                    </v-card-actions>
                    <v-dialog v-model="dialogEnviar" persistent max-width="290">
                        
                        <v-card class="mx-auto" style="max-width: 500px;">
                            
                            <v-toolbar color="primary" cards dark flat>
                            
                            <h3>Guardar Gestión</h3>
                            <div class="flex-grow-1"></div>
                            
                            </v-toolbar>
                            <v-card-text class="subtitle-1 mb-1">Deseas Guardar esta Gestión? </v-card-text>
                            
                            <v-card-actions>
                            <v-btn text @click="dialogEnviar=false">Cancelar</v-btn>
                            <div class="flex-grow-1"></div>
                            <v-btn class="white--text" color="primary" depressed @click="enviarGestion()">Aceptar</v-btn>
                            </v-card-actions>
                            
                        </v-card>
                    </v-dialog>  

      </v-col>
                <!-- muestra los desplegables y el formulario de correo -->
          <v-data-table :search="search" :headers="headersCorreo" :items="arrayGestiones"  class="elevation-3">
            <template v-slot:item.action="{ item }">
              <v-btn color="deep-orange darken-1" class="mx-3" fab small @click="abrirDialog(item)">
                <v-icon color="white">build</v-icon>
              </v-btn>
            </template>
          </v-data-table>
     
    </v-card>
    </v-card>
            <v-snackbar v-model="mensajeCorrecto"  color="cyan accent-4" right   top>
                Gestión Tipificada  Correctamente
            </v-snackbar>  
              <v-dialog   v-model="dialogAbrirGestion" persistent max-width="1070">
        <v-card class="mx-auto" style="max-width: 1070px;">
                    <v-toolbar color="deep-orange darken-1" cards dark flat>
                    <h3>Datos Gestión</h3>
                    <div class="flex-grow-1"></div>
                    </v-toolbar>
                    <v-container >
                        <ver-datos-correo @listarGestion="listarGestion" @mostrarMensaje="mostrarMensaje" @cerrarDialogGestion="cerrarDialogGestion" :gestion="gestion" :gestionProceso="gestionProceso" :rol_id="rol_id"></ver-datos-correo>
                        
                        <v-chip color="primary" class="mb-3" outlined v-show="gestionProceso.tipificacion_id==58">
                                <v-icon left color="primary">mdi-face</v-icon>
                                Motivo Otro
                        </v-chip>
                          <v-row>
                        <v-col cols='12' v-for="gestionProceso  in gestion.gestionProceso" :key="gestionProceso.id">
                            <v-card   class="mx-auto"  elevation="10">

                                <v-list-item v-if="gestionProceso.tipificacion_id==58">
                                    <v-list-item-content>
                                    <v-list-item-title v-if="gestionProceso.tipificacion_id==58" >{{gestionProceso.tipificacion_id==58?'Motivo Otro':'Observacion Asesor'}}</v-list-item-title>                                
                                    <v-list-item-subtitle v-if="gestionProceso.tipificacion_id==58">{{gestionProceso.motivo_otro}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                 
                               
                                <v-footer style="width:100%" color="white" v-if="gestionProceso.tipificacion_id==58"><div class="flex-grow-1"></div>Fecha de Creación: {{gestionProceso.created_at}}</v-footer>
                        </v-card>
                        </v-col>
                        
                    
                        
                        <br>
                    </v-row>
                    </v-container>
                   
                   
                    
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                    <v-btn color="indigo lighten-5"  @click="cerrarDialogGestion()">Cerrar</v-btn>
                    </v-card-actions>
                    
                </v-card>
        
    </v-dialog>
    </div>
    
</template>

<script>
import VerDatosCorreo from "./verDatos/verDatosCorreo";
export default {
    props:['rol_id'],    
    components:{VerDatosCorreo},
    data () {
       
      return {
       mensajeCorrecto:false,
        search: '',
          arrayGestiones:[],
          
            headersCorreo:[
                { text: '#', value: 'id' },
                { text: 'MIN', value: 'min' },
                { text: 'CustCode', value: 'custcode' },
                { text: 'Numero PQR o Calidad', value: 'numero_pqr' },
                { text: 'Aplica Ajuste', value: 'aplica_ajuste' },
                { text: 'Ajuste Compartido', value: 'ajuste_compartido' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],        
           
            gestion:'',
            dialogAbrirGestion:false,
            botonGuardar:false,
            gestionProceso:'',
             model:{
                fecha_recibido: new Date().toISOString().substr(0, 10),
                fecha_respuesta: new Date().toISOString().substr(0, 10),

                //datos formulario correo
                ajuste_compartido:'',

                //datos primer formulario aplica ajuste
                fecha_inconsistencia:new Date().toISOString().substr(0, 10),
                fecha_reporte:new Date().toISOString().substr(0, 10),
                
                min2:'',
                custcode2:'',
                customer_id:'',
                valor_sin_iva:'',
                total:'',
                rta_caso:'',
                responsable:'',
                cc:'',
                user:'',
                estado:'',
                tipificacion_id:'',
                otro:'',

                // los datos del segundo formulario aplica ajuste
                fecha_inconsistencia2:new Date().toISOString().substr(0, 10),
                fecha_reporte2:new Date().toISOString().substr(0, 10),
                min3:'',
                custcode3:'',
                customer_id2:'',
                valor_sin_iva2:'',
                total2:'',
                rta_caso2:'',
                responsable2:'',
                cc2:'',
                user2:'',
                estado2:'',
                tipificacion_id2:'',
                otro2:'',
                
            },
            
             form:false,
             dialogEnviar:false,
            

             arrayJustificacion:[],
             arrayTipificacion:[],
             arrayAplicaAjuste:[
                 {id:1,item:'Si'},
                 {id:2,item:'No'},
             ],
             arrayAjusteCompartido:[
                 {id:1,item:'Si'},
                 {id:2,item:'No'},
             ],
             menu1:false,
             menu2:false,

             menu3:false,
             menu4:false,

             menu5:false,
             menu6:false,
        }
    },
    
    methods: {
        limpiarPrimerFormulario(){
            this.model.min='';
            this.model.custcode='';
            this.model.numero_pqr='';
            this.model.aplica_ajuste='';
            this.model.ajuste_compartido='';
            this.model.fecha_recibido=new Date().toISOString().substr(0, 10);
            this.model.fecha_respuesta=new Date().toISOString().substr(0, 10);
            this.model.remitente='';
            this.model.respuesta='';
            this.model.asunto='';
        },
        limpiarCamposSecundarios(val){
                if (val==1) {
                    // si el valor es el de aplica ajuste 
                    this.model.ajuste_compartido='';

                }
                this.model.fecha_inconsistencia2=new Date().toISOString().substr(0, 10);
                this.model.fecha_reporte2=new Date().toISOString().substr(0, 10);
                this.model. min2='';
                this.model.custcode2='';
                this.model.customer_id2='';
                this.model.valor_sin_iva2='';
                this.model.total2='';
                this.model.rta_caso2='';
                this.model.responsable2='';
                this.model.cc2='';
                this.model.user2='';
                this.model.estado2='';
                this.model.tipificacion_id2='';
                this.model.otro2='';
        },
        limpiarTodosCampos(){
            this.model.fecha_inconsistencia=new Date().toISOString().substr(0, 10);
                this.model.fecha_reporte=new Date().toISOString().substr(0, 10);
                this.model. min3='';
                this.model.custcode3='';
                this.model.customer_id='';
                this.model.valor_sin_iva='';
                this.model.total='';
                this.model.rta_caso='';
                this.model.responsable='';
                this.model.cc='';
                this.model.user='';
                this.model.estado='';
                this.model.tipificacion_id='';
                this.model.otro='';
                this.limpiarCamposSecundarios(1);
                this.limpiarPrimerFormulario();
        
       
      },

       listarTipificacion(){
            axios.post('/listarClasificacionItems',{
                nivel: 1,
                padre_id: null,
                clasificacion_id: 9,
            }).then(response=>{
                this.arrayTipificacion=response.data;
            })    
       },
       enviarGestion(){
          axios.post('guardarGestionTablas',{
              'model':this.model,
              'gestion_id':this.gestion.id,
              
          }).then(response=>{
              this.dialogEnviar=false;
              this.listarGestion();
              this.cerrarDialog();
              this.mostrarMensaje();  

          });
       },
       guardarGestion(){
             if (this.$refs.form.validate()) {
                this.dialogEnviar=true;
             }
       },
       
       abrirDialog(item){
           this.gestion=item;
           this.dialogAbrirGestion=true;
           console.log(item);

       },
       mostrarMensaje(){
           this.mensajeCorrecto=true;
       },

       cerrarDialog(){
            this.limpiarTodosCampos();
            this.dialogAbrirGestion=false;

       },

       cerrarDialogGestion(){
            this.dialogAbrirGestion=false;

       },     
       listarGestion(){
           axios.post('/listarGestion').then(response=>{
               this.arrayGestiones=response.data;
           });
       },

       onlyNumber ($event) {
        let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                $event.preventDefault();
            }
        },      

    },
    mounted() {
        this.listarTipificacion();
        this.listarGestion();
    },
    
  }
</script>