<template>
    <div style="width:100%">
         <v-card flat>
             <v-toolbar color="primary" dark extended elevation-10 ></v-toolbar>
             <v-card class="mx-auto"  style="margin-top: -64px;">
      <v-toolbar flat>
        <h1 v-if="opc==1"><strong>Gestiones Tramitadas</strong></h1>
         <h1 v-if="opc==2"><strong>Gestiones Rechazadas</strong></h1>
        <h1 v-if="opc==3"><strong> Gestiones Devueltas Por Asesor</strong></h1>
         <h1 v-if="opc==4"><strong>Gestiones Aplicadas</strong></h1>
         <h1 v-if="opc==5"><strong>Gestiones En Evasión</strong></h1>
          <h1 v-if="opc==6"><strong>Gestiones Rol Inconsistencias</strong></h1>
          <h1 v-if="opc==7"><strong>Gestiones Cierre PQR</strong></h1>
          <h1 v-if="opc==8"><strong>Gestiones Caso Especial</strong></h1>
          <h1 v-if="opc==9"><strong>Gestiones Retenido</strong></h1>

        <div class="flex-grow-1"></div>
         


      </v-toolbar>

      <v-divider></v-divider>
       <v-toolbar flat>
        <div class="flex-grow-1"></div>

        <v-row>
            
       <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
      </v-row>
      </v-toolbar>
      <v-col>
          <!-- muestra la tabla de cambio de plan -->
          <v-data-table v-if="opc==1 || opc==2 || opc==3"  :search="search" :headers="headersCambioPlan" :items="array_gestiones" sort-by="id" class="elevation-3">
             <template v-slot:item.action="{ item }">
               <v-btn color="primary"  class="mx-3 " fab small @click="abrirDialog(item)" ><v-icon color="white">remove_red_eye</v-icon></v-btn>
            </template>
    
          </v-data-table>
          
          <!-- muestra la tabla de evasiones -->
          <v-data-table v-if="opc==4 || opc==5"  :search="search" :headers="headersEvasiones" :items="array_gestiones" sort-by="id" class="elevation-3">
             <template v-slot:item.action="{ item }">
               <v-btn color="primary"  class="mx-3 " fab small @click="abrirDialog(item)" ><v-icon color="white">remove_red_eye</v-icon></v-btn>
            </template>
    
          </v-data-table>
          <!-- muestra la tabla de inconsistencias -->
           <v-data-table v-if="opc==6"  :search="search" :headers="headersInconsistencias" :items="array_gestiones" sort-by="id" class="elevation-3">
             <template v-slot:item.action="{ item }">
               <v-btn color="primary"  class="mx-3 " fab small @click="abrirDialog(item)" ><v-icon color="white">remove_red_eye</v-icon></v-btn>
            </template>
    
          </v-data-table>
          <!-- muestra la tabla de cierre pqr -->
          <v-data-table v-if="opc==7"  :search="search" :headers="headersCierrePqr" :items="array_gestiones" sort-by="id" class="elevation-3">
             <template v-slot:item.action="{ item }">
               <v-btn color="primary"  class="mx-3 " fab small @click="abrirDialog(item)" ><v-icon color="white">remove_red_eye</v-icon></v-btn>
            </template>
    
          </v-data-table>
          <!-- muestra table caso especial -->
          <v-data-table v-if="opc==8"  :search="search" :headers="headersCasoEspecial" :items="array_gestiones" sort-by="id" class="elevation-3">
             <template v-slot:item.action="{ item }">
               <v-btn color="primary"  class="mx-3 " fab small @click="abrirDialog(item)" ><v-icon color="white">remove_red_eye</v-icon></v-btn>
            </template>
    
          </v-data-table>
          <!-- muestra tabla retenido -->
          <v-data-table v-if="opc==9"  :search="search" :headers="headersRetenido" :items="array_gestiones" sort-by="id" class="elevation-3">
             <template v-slot:item.action="{ item }">
               <v-btn color="primary"  class="mx-3 " fab small @click="abrirDialog(item)" ><v-icon color="white">remove_red_eye</v-icon></v-btn>
            </template>
    
          </v-data-table>
      </v-col>
     
    </v-card>
    </v-card>
    <!-- aqui empieza el dialog de cambio de plan -->
    <v-dialog   v-model="dialogAbrirGestion" persistent max-width="1070">
        <v-card class="mx-auto" style="max-width: 1070px;">
                    <v-toolbar color="deep-orange darken-1" cards dark flat>
                    <h3>Datos Gestión</h3>
                    <div class="flex-grow-1"></div>
                    </v-toolbar>
                    <v-container >
                        <ver-datos-gestion-cambio-plan v-if="opc==1 || opc==2 || opc==3" :gestion="gestion"></ver-datos-gestion-cambio-plan>
                        <ver-datos-evasiones  v-if="opc==4 || opc==5" :gestion="gestion"></ver-datos-evasiones>
                        <ver-datos-inconsistencias v-if="opc==6" :gestion="gestion"></ver-datos-inconsistencias>
                        <ver-datos-cierre-pqr v-if="opc==7" :gestion="gestion"></ver-datos-cierre-pqr>
                        <ver-datos-gestion-caso-especial v-if="opc==8" :gestion="gestion"></ver-datos-gestion-caso-especial>
                        <ver-datos-gestion-retenido v-if="opc==9" :gestion="gestion"></ver-datos-gestion-retenido>
                        <v-chip color="primary" class="mb-3" outlined>
                                <v-icon left color="primary">mdi-face</v-icon>
                                Historico Gestión
                        </v-chip>
                          <v-row>
                        <v-col cols='12' v-for="logGestion  in gestion.logGestion" :key="logGestion.id">
                            <v-card   class="mx-auto"  elevation="10" >
                            <v-card-title class="mt-2" style="font-size: 16px;"><strong>USUARIO: {{logGestion.usuario.nombre_usuario+' '+logGestion.usuario.apellido_usuario}} | NÚMERO DOCUMENTO: {{logGestion.usuario.cedula_usuario}} | ROL: {{logGestion.rol}}</strong> </v-card-title>
                            <v-list-item>
                                    <v-list-item-content>
                                    <v-list-item-title>Tipificación</v-list-item-title>
                                    <v-list-item-subtitle>{{logGestion.estado.item}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item v-if="logGestion.estado.id==2 || logGestion.estado.id==3">
                                    <v-list-item-content>
                                    <v-list-item-title>{{logGestion.estado.id==2?'Motivo Rechazo':'Observacion Asesor'}}</v-list-item-title>
                                    <v-list-item-subtitle>{{logGestion.observacion}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item v-if="opc==9 && gestion.estado_id==69">
                                    <v-list-item-content>
                                    <v-list-item-title>{{gestion.estado_id==69?'Motivo Otro':'Observacion Asesor'}}</v-list-item-title>
                                    <v-list-item-subtitle>{{gestion.motivo_otro}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                <v-list-item v-if="opc==8 && gestion.estado_id==60 || opc==8 && gestion.estado_id==61">
                                    <v-list-item-content>
                                    <v-list-item-title v-if="opc==8 && gestion.estado_id==60" >{{gestion.estado_id==60?'Motivo Pendiente':'Observacion Asesor'}}</v-list-item-title>
                                    <v-list-item-title v-if="opc==8 && gestion.estado_id==61" >{{gestion.estado_id==61?'Motivo En Espera':'Observacion Asesor'}}</v-list-item-title>
                                    <v-list-item-subtitle v-if="opc==8 && gestion.estado_id==60">{{gestion.motivo}}</v-list-item-subtitle>
                                    <v-list-item-subtitle v-if="opc==8 && gestion.estado_id==61">{{gestion.motivo}}</v-list-item-subtitle>
                                    </v-list-item-content>
                                </v-list-item>
                                 
                               
                                <v-footer style="width:100%" color="white"><div class="flex-grow-1"></div>Fecha de Creación: {{logGestion.created_at}}</v-footer>
                        </v-card>
                        </v-col>
                        
                    
                        
                        <br>
                    </v-row>
                    </v-container>
                   
                   
                    
                    <v-card-actions>
                        <div class="flex-grow-1"></div>
                    <v-btn color="indigo lighten-5"  @click="cerrarDialog()">Cerrar</v-btn>
                    </v-card-actions>
                    
                </v-card>
        
    </v-dialog>
    <!-- aqui termina el dialog de cambio de plan -->
     
            <v-snackbar v-model="mensajeCorrecto"  color="cyan accent-4" right   top>
                Gestión Tipificada  Correctamente
            </v-snackbar>
    
    
            
    
    </div>
</template>

<script>

import VerDatosGestionCambioPlan from "./verDatos/VerDatosGestionCambioPlan";
import VerDatosEvasiones from "./verDatos/VerDatosGestionEvasiones";
import VerDatosInconsistencias from "./verDatos/verDatosGestionInconsistencias";
import VerDatosCierrePqr from "./verDatos/verDatosGestionCierrePqr";
import VerDatosGestionCasoEspecial from "./verDatos/VerDatosGestionCasoEspecial";
import VerDatosGestionRetenido from "./verDatos/VerDatosGestionRetenido";
export default {
    props:['rol_id','array_gestiones','opc'],
    components:{VerDatosGestionCambioPlan,VerDatosEvasiones,VerDatosInconsistencias, VerDatosCierrePqr, VerDatosGestionCasoEspecial, VerDatosGestionRetenido},
    data () {
       
      return {
       mensajeCorrecto:false,
        search: '',
       
        headersCambioPlan: [
                { text: '#', value: 'gestion_id' },
                { text: 'Nombre Asesor', value: 'asesor.nombre_usuario' },
                { text: 'Apellido Asesor', value: 'asesor.apellido_usuario' },
                { text: 'Documento', value: 'asesor.cedula_usuario' },
                { text: 'Contrato Plan', value: 'gestionAnillo.contrato_plan' },
                { text: 'Estado', value: 'estado.item' },
                { text: 'Fecha Creación', value: 'gestionAnillo.fecha_creacion' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],
             headersEvasiones: [
                { text: '#', value: 'gestion_id' },
                { text: 'Nombre Asesor', value: 'asesor.nombre_usuario' },
                { text: 'Apellido Asesor', value: 'asesor.apellido_usuario' },
                { text: 'Documento', value: 'asesor.cedula_usuario' },
                { text: 'Nombre Cliente', value: 'gestionAnillo.nombre_cliente' },
                { text: 'Contrato', value: 'gestionAnillo.contrato' },
                { text: 'Estado', value: 'estado.item' },
                { text: 'Fecha Creación', value: 'gestionAnillo.fecha_creacion' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],  
              headersInconsistencias:[
                { text: '#', value: 'codigo_unico' },
                { text: 'Fecha', value: 'fecha' },
                { text: 'Custcode', value: 'custcode' },
                { text: 'Tipo', value: 'tipo' },
                { text: 'User', value: 'cod_user' },
                { text: 'Nombre Consultor', value: 'nombre_consultor' },
                { text: 'Acciones', value: 'action', sortable: false },
            ], 
              headersCierrePqr: [
                { text: "#", value: "id" },
                { text: "Analista Responsable", value: "analista_responsable" },
                { text: "Remitente", value: "remitente" },
                { text: "Area Responsable", value: "area_responsable" },
                { text: "Ciudad", value: "ciudad" },
                { text: "Fecha Recibido", value: "fecha_recibido" },
                { text: "Acciones", value: "action", sortable: false }
            ],
              headersCasoEspecial:[
                { text: '#', value: 'id' },
                { text: 'Usuario Generador', value: 'usuario_generador' },
                { text: 'Numero de Caso', value: 'numero_caso' },
                { text: 'Nombre del Cliente', value: 'nombre_cliente' },
                { text: 'Motivo Solicitud', value: 'motivo_solicitud' },
                { text: 'Descripcion Propuesta', value: 'descripcion_propuesta'},
                { text: 'Fecha Registro', value: 'fecha_registro' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],    
              headersRetenido:[
                { text: '#', value: 'id' },
                { text: 'Usuario Agente', value: 'usuario_agente' },
                { text: 'Tipo de Gestion', value: 'tipo_gestion' },
                { text: 'Contrato', value: 'contrato' },
                { text: 'Nombre del Cliente', value: 'nombre_cliente' },
                { text: 'Tipificacion', value: 'tipificacion' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],           
           
            gestion:'',
            dialogAbrirGestion:false,
             
       
      }
       
       
    },
    methods:{
       
       abrirDialog(item){
           this.gestion=item;
           this.dialogAbrirGestion=true;
           console.log(item);

       },
       
       
       mostrarMensaje(){
           this.mensajeCorrecto=true;
       },
       cerrarDialog(){
           this.dialogAbrirGestion=false;
       }

    },
    
  }
</script>