<template>
    <div style="width:100%">
         <v-card flat>
             <v-toolbar color="primary" dark extended elevation-10 ></v-toolbar>
             <v-card class="mx-auto"  style="margin-top: -64px;">
      <v-toolbar flat>
        <h1 v-if="rol_id==2"><strong>Lista de Gestiones Cambio Plan</strong></h1>
        <h1 v-if="rol_id==3"><strong>Lista de Gestiones Evasiones</strong></h1>
        <h1 v-if="rol_id==4"><strong>Lista de Gestiones Inconsistencias</strong></h1>
        <h1 v-if="rol_id==5"><strong>Lista de Gestiones Cierre PQR</strong></h1>
        <h1 v-if="rol_id==6"><strong>Lista de Gestiones Caso Especial</strong></h1>
        <h1 v-if="rol_id==7"><strong>Lista de Gestiones Retenido</strong></h1>


        <div class="flex-grow-1"></div>
         


      </v-toolbar>

      <v-divider></v-divider>
       <v-toolbar flat>
        <div class="flex-grow-1"></div>

        <v-row>
            
       <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
      </v-row>
      </v-toolbar>
      <v-col>
          <!-- muestra la tabla de cambio de plan -->
          <v-data-table v-if="rol_id==2"  :search="search" :headers="headersCambioPlan" :items="arrayGestiones" sort-by="idcambio_plan" class="elevation-3">
             <template v-slot:item.action="{ item }">
               <v-btn color="deep-orange darken-1"  class="mx-3 " fab small @click="abrirDialog(item)" ><v-icon color="white">build</v-icon></v-btn>
            </template>
    
          </v-data-table>
          <!-- muestra la tabla de evasiones -->
          <v-data-table v-if="rol_id==3"  :search="search" :headers="headersEvasiones" :items="arrayGestiones" sort-by="idcambio_plan" class="elevation-3">
             <template v-slot:item.action="{ item }">
               <v-btn color="deep-orange darken-1"  class="mx-3 " fab small @click="abrirDialog(item)" ><v-icon color="white">build</v-icon></v-btn>
            </template>
          </v-data-table>
          <!-- muestra la tabla de inconsistencias -->
          <v-data-table v-if="rol_id==4"  :search="search" :headers="headersInconsistencias" :items="arrayGestiones" sort-by="codigo_unico" class="elevation-3">
             <template v-slot:item.action="{ item }">
               <v-btn color="deep-orange darken-1"  class="mx-3 " fab small @click="abrirDialog(item)" ><v-icon color="white">build</v-icon></v-btn>
            </template>
          </v-data-table>
          <!-- tabla cierre pqr -->
          <v-data-table v-if="rol_id==5" :search="search" :headers="headersCierrePqr" :items="arrayGestiones" sort-by="id" class="elevation-3">
            <template v-slot:item.action="{ item }">
              <v-btn color="deep-orange darken-1" class="mx-3" fab small @click="abrirDialog(item)">
                <v-icon color="white">build</v-icon>
              </v-btn>
            </template>
          </v-data-table>
          <!-- muestra table caso especial -->
          <v-data-table v-if="rol_id==6" :search="search" :headers="headersCasoEspecial" :items="arrayGestiones" sort-by="id" class="elevation-3">
            <template v-slot:item.action="{ item }">
              <v-btn color="deep-orange darken-1" class="mx-3" fab small @click="abrirDialog(item)">
                <v-icon color="white">build</v-icon>
              </v-btn>
            </template>
          </v-data-table>
          <!-- muestra tabla retenido -->
          <v-data-table v-if="rol_id==7" :search="search" :headers="headersRetenido" :items="arrayGestiones" sort-by="id" class="elevation-3">
            <template v-slot:item.action="{ item }">
              <v-btn color="deep-orange darken-1" class="mx-3" fab small @click="abrirDialog(item)">
                <v-icon color="white">build</v-icon>
              </v-btn>
            </template>
          </v-data-table>
      </v-col>
     
    </v-card>
    </v-card>
    <!-- aqui empieza el dialog de cambio de plan -->
    <v-dialog   v-model="dialogAbrirGestion" persistent max-width="1070">
        <div v-if="rol_id==2">
            <cambio-plan-tipificacion @listarGestion="listarGestion" @mostrarMensaje="mostrarMensaje" @cerrarDialog="cerrarDialog" :gestion="gestion" :rol_id="rol_id"></cambio-plan-tipificacion>
        </div>
        <div v-else-if="rol_id==3">
            <evasiones-tipificacion @listarGestion="listarGestion" @mostrarMensaje="mostrarMensaje" @cerrarDialog="cerrarDialog" :gestion="gestion" :rol_id="rol_id"></evasiones-tipificacion>
        </div>
        <div v-else-if="rol_id==4">
            <inconsistencias-tipificacion @listarGestion="listarGestion" @mostrarMensaje="mostrarMensaje" @cerrarDialog="cerrarDialog" :gestion="gestion" :rol_id="rol_id"></inconsistencias-tipificacion>
        </div>
        <div v-else-if="rol_id==5">
            <cierre-pqr-tipificacion @listarGestion="listarGestion" @mostrarMensaje="mostrarMensaje" @cerrarDialog="cerrarDialog" :gestion="gestion" :rol_id="rol_id"></cierre-pqr-tipificacion>
        </div>
        <div v-else-if="rol_id==6">
            <caso-especial-tipificacion @listarGestion="listarGestion" @mostrarMensaje="mostrarMensaje" @cerrarDialog="cerrarDialog" :gestion="gestion" :rol_id="rol_id"></caso-especial-tipificacion>
        </div>
        <div v-else-if="rol_id==7">
            <retenido-tipificacion @listarGestion="listarGestion" @mostrarMensaje="mostrarMensaje" @cerrarDialog="cerrarDialog" :gestion="gestion" :rol_id="rol_id"></retenido-tipificacion>
        </div>
    </v-dialog>
    <!-- aqui termina el dialog de cambio de plan -->
     
            <v-snackbar v-model="mensajeCorrecto"  color="cyan accent-4" right   top>
                Gestión Tipificada  Correctamente
            </v-snackbar>  
    </div>
</template>
<script>
import CambioPlanTipificacion from "./tipificarGestion/CambioPlanTipificacion";
import EvasionesTipificacion from "./tipificarGestion/EvasionesTipificacion";
import InconsistenciasTipificacion from "./tipificarGestion/InconsistenciasTipificacion";
import CierrePqrTipificacion from "./tipificarGestion/CierrePqrTipificacion";
import CasoEspecialTipificacion from "./tipificarGestion/CasoEspecialTipificacion";
import RetenidoTipificacion from "./tipificarGestion/RetenidoTipificacion";
export default {
    props:['rol_id'],
    components:{CambioPlanTipificacion,EvasionesTipificacion,InconsistenciasTipificacion, CierrePqrTipificacion, CasoEspecialTipificacion, RetenidoTipificacion},
    data () {
       
      return {
       mensajeCorrecto:false,
        search: '',
        arrayGestiones:[],
        headersCambioPlan: [
                { text: '#', value: 'idcambio_plan' },
                { text: 'Nombre Asesor', value: 'asesor.nombre_usuario' },
                { text: 'Apellido Asesor', value: 'asesor.apellido_usuario' },
                { text: 'Documento', value: 'asesor.cedula_usuario' },
                { text: 'Contrato Plan', value: 'contrato_plan' },
                { text: 'Fecha Creación', value: 'fecha_creacion' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],
             headersEvasiones: [
                { text: '#', value: 'idmaster' },
                { text: 'Nombre Asesor', value: 'asesor.nombre_usuario' },
                { text: 'Apellido Asesor', value: 'asesor.apellido_usuario' },
                { text: 'Documento', value: 'asesor.cedula_usuario' },
                { text: 'Contrato', value: 'contrato' },
                { text: 'Fecha Creación', value: 'fecha_creacion' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],
            headersCierrePqr: [
              { text: "#", value: "id" },
              { text: "Analista Responsable", value: "gestion.analista_responsable" },
              { text: "Remitente", value: "gestion.remitente" },
              { text: "Area Responsable", value: "gestion.area_responsable" },
              { text: "Ciudad", value: "gestion.ciudad" },
              { text: "Fecha Recibido", value: "gestion.fecha_recibido" },
              { text: "Acciones", value: "action", sortable: false }
            ],
            headersInconsistencias:[
                { text: '#', value: 'codigo_unico' },
                { text: 'Fecha', value: 'fecha' },
                { text: 'Custcode', value: 'custcode' },
                { text: 'Tipo', value: 'tipo' },
                { text: 'User', value: 'cod_user' },
                { text: 'Nombre Consultor', value: 'nombre_consultor' },
                { text: 'Acciones', value: 'action', sortable: false },
            ], 
            headersCasoEspecial:[
                { text: '#', value: 'id' },
                { text: 'Usuario Generador', value: 'usuario_generador' },
                { text: 'Numero de Caso', value: 'numero_caso' },
                { text: 'Nombre del Cliente', value: 'nombre_cliente' },
                { text: 'Motivo Solicitud', value: 'motivo_solicitud' },
                { text: 'Fecha Registro', value: 'fecha_registro' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],
            headersRetenido:[
                { text: '#', value: 'id' },
                { text: 'Usuario Agente', value: 'usuario_agente' },
                { text: 'Tipo de Gestion', value: 'tipo_gestion' },
                { text: 'Contrato', value: 'contrato' },
                { text: 'Nombre del Cliente', value: 'nombre_cliente' },
                { text: 'Tipificacion', value: 'tipificacion' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],            
           
            gestion:'',
            dialogAbrirGestion:false,
             
       
      }
       
       
    },
    methods:{
       listarGestion(){
           axios.post('/listarGestion').then(response=>{
               this.arrayGestiones=response.data;
           });
       },
       abrirDialog(item){
           this.gestion=item;
           this.dialogAbrirGestion=true;
       },
             
       mostrarMensaje(){
           this.mensajeCorrecto=true;
       },
       cerrarDialog(){
           this.dialogAbrirGestion=false;
       }

    },
    mounted() {
        this.listarGestion();
        
    },
  };
</script>