<template>
    <div style="width:100%">
         <v-card flat>
             <v-toolbar color="primary" dark extended elevation-10 ></v-toolbar>
             <v-card class="mx-auto"  style="margin-top: -64px;">
      <v-toolbar flat>
         <h1><strong>Roles y Usuarios</strong></h1>

        <div class="flex-grow-1"></div>
         


      </v-toolbar>

      <v-divider></v-divider>
       
      <v-row>
        <v-col cols="4">
            <v-img src="/img/users.png" max-width="250" max-height="235" style="margin-left:20%"></v-img>

        </v-col>
        <v-col cols="8">
            
            <v-row>
                <v-col cols="6">
                    <v-autocomplete  prepend-icon="mdi-account-arrow-right" @input="listarUsuarios()"   outlined v-model="listar_usuarios" item-value="id_usuario" item-text="user" :items="arrayUsuarios" :rules="[v => !!v || 'Usuario es Obligatorio']" label="Usuarios" required></v-autocomplete >
                </v-col>
                <v-col cols="6">
                    <v-autocomplete  prepend-icon="mdi-account-card-details" @input="listarBackoffice()"   outlined v-model="rol_backoffice_id" item-value="idrol" item-text="descripcion" :items="arrayRoles" :rules="[v => !!v || 'Rol es Obligatorio']" label="Rol" required></v-autocomplete >
                </v-col>
                
            </v-row>
                <v-btn :loading="dialogEnviando"  class="white--text" block :disabled="!cambio_rol" color="indigo darken-4" depressed @click="abrirDialog()" v-model="cambio_rol">Cambiar Rol</v-btn>
                
        </v-col>
       
      </v-row>
      <v-divider></v-divider>
     
          
       <v-toolbar flat>
        <div class="flex-grow-1"></div>

        <v-row>
            
       <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
      </v-row>
      </v-toolbar>
      <v-row>
          <v-col cols="12">
              <v-data-table  :search="search" :headers="headersUsuarios" :items="arrayUsuarios"  class="elevation-3">
                <template v-slot:item.action="{ item }">
                    <v-btn :href="item.ruta_errores" v-if="item.numero_errores>0 || item.numero_fallas>0 " color="error"  class="mx-3 "  small  >Descargar Errores</v-btn>
                    <v-btn :href="item.ruta"  color="success"  class="mx-3 "  small  >Descargar Excel</v-btn>
                </template>
            </v-data-table>
          </v-col>
      </v-row>
      
      
     
    </v-card>
    </v-card>
    <v-snackbar v-model="mensajeIncorrecto"  color="error" right top>
                {{mensaje_error}}
    </v-snackbar>
    <v-snackbar v-model="mensajeCorrecto"  color="success" right top>
                Cambio de Rol Exitoso
    </v-snackbar>
    <v-dialog v-model="dialogEnviar" persistent max-width="290">
                        
        <v-card class="mx-auto" style="max-width: 500px;">
            
            <v-toolbar color="deep-orange darken-1" cards dark flat>
            
            <h3>Cambio de Rol</h3>
            <div class="flex-grow-1"></div>
            
            </v-toolbar>
            <v-card-text class="subtitle-1 mb-1">Estas Seguro de este Cambio? </v-card-text>
            
            <v-card-actions>
            <v-btn text @click="dialogEnviar=false">Cancelar</v-btn>
                <div class="flex-grow-1"></div>
            <v-btn class="white--text" color="deep-orange darken-1" depressed @click="cambiarRol()">Aceptar</v-btn>
            </v-card-actions>
            
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialogEnviando" hide-overlay persistent width="600"  height="200">
            <v-card color="blue darken-4" dark>
                <v-card-text>
               Cargando, Por Favor Espere...
                <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card-text>
            </v-card>
    </v-dialog>
    </div>
</template>
<script>

export default {
    props:['rol_id'],
    
    data () {    
       
      return {
            arrayRoles:[],
            rol_backoffice_id:'',
            listar_usuarios:'',
            backoffice_id:'',
            arrayBackoffice:[],
            arrayUsuarios:[],
            search:'',
            arrayArchivoCarga:[],
            mensajeIncorrecto:false,
            mensajeCorrecto:false,
            mensaje_error:'',
            dialogEnviando:false,
            cambio_rol:false,
            dialogEnviar:false,
            headersUsuarios: [
                { text: 'id  Usuario', value: 'id_usuario'},
                { text: 'Nombre Usuario', value: 'user' },
                { text: 'Rol Usuario', value: 'descripcion_rol.descripcion' },
            ],         
      }              
    },
    watch:{
        listar_usuarios:function() {
            if(this.rol_backoffice_id!="" && this.listar_usuarios!=""){
                this.cambio_rol=true;
            }
        },
        rol_backoffice_id:function() {
            if(this.rol_backoffice_id!="" && this.listar_usuarios!=""){
                this.cambio_rol=true;
            }
        }
    },
    methods:{
       limpiarCampos(){
            this.listar_usuarios='';
            this.rol_backoffice_id='';
            this.cambio_rol=false;
        },
       abrirDialog(){
           this.dialogEnviar=true;
       },
       cambiarRol(){
            this.dialogEnviar=false;
            this.dialogEnviando=true;
            let data=new FormData();
            data.append('rol_backoffice_id',this.rol_backoffice_id)
           axios.post('/actualizarRol',{
                'rol_backoffice_id':this.rol_backoffice_id,
                'idusu':this.listar_usuarios,
           }).then(response=>{
               this.listarUsuarios();
               this.mensajeCorrecto=true;
               this.dialogEnviando=false;
               this.limpiarCampos();
           }).catch(error=>{
                $.each(error.response.data.errors,function(key,value){
                    this.mensaje_error=value;
                    this.mensajeIncorrecto=true;
                });
                this.dialogEnviando=false;
           });
       },
       listarRoles(){
           axios.post('listarRoles').then(response=>{
               this.arrayRoles=response.data
           });
       },
       listarUsuarios(){
           axios.post('listarUsuarios').then(response=>{
               this.arrayUsuarios=response.data;
           });
       }
    },
    mounted() {
        this.listarRoles();
        this.listarUsuarios();
    },
    
  }
</script>