<template>
  <div style="width:100%">
    <v-card flat>
      <v-toolbar color="primary" dark extended elevation-10></v-toolbar>
      <v-card class="mx-auto" style="margin-top: -64px;">
        <v-toolbar flat>
          <h1>
            <strong>Planes</strong>
          </h1>

          <div class="flex-grow-1"></div>
        </v-toolbar>

       
        <v-divider></v-divider>

        <v-toolbar flat>
          <div class="flex-grow-1"></div>

          <v-row>
            <v-btn  @click="Editar('',1)" color="primary">
          <v-icon left size="14">mdi-plus-one</v-icon>AGREGAR NUEVO PLAN
         </v-btn>
          &nbsp;&nbsp;  &nbsp;&nbsp;
            <v-text-field v-model="search" append-icon="search" label="Buscar" single-line hide-details></v-text-field>
             &nbsp;&nbsp;
            <v-select @input="listarPlanes()" :items="arrayEstados" v-model="estado" item-value="id" item-text="item" label="Estado">
            </v-select>
           
             <v-btn  @click="estado='';listarPlanes()" text icon color="error">
              <v-icon>clear</v-icon>
            </v-btn>
          </v-row>
        </v-toolbar>
        <v-row>
            <!-- <v-col cols="4">
              <v-img src="/img/plan.png" max-width="235" max-height="235" style="margin-left:20%"></v-img>
            </v-col> -->
          <v-col cols="12">
            <v-data-table  :search="search" :headers="headersPlanes" :items="arrayPlanes" class="elevation-3 mx-auto">
              <template v-slot:item.action="{ item }">
                <v-btn color="success" v-if="item.habilitado==0" class="mx-2" small @click="habilitarBoton(1,item.idplanes)" >Habilitar</v-btn>
                <v-btn color="error" v-if="item.habilitado==1" class="mx-2" small @click="habilitarBoton(0,item.idplanes)">Deshabilitar</v-btn>
                <v-btn :href="item.ruta" color="primary" class="mx-2" small @click="Editar(item,2)">Editar</v-btn>
              </template>
            </v-data-table>
          </v-col>
        </v-row>
      </v-card>
    </v-card>
    <v-dialog v-model="dialogEditar" persistent max-width="500">
      <v-card class="mx-auto" style="max-width: 500px;">
        <v-toolbar color="deep-orange darken-1" cards dark flat>
          <h3>{{textoPlan}}</h3>
          <div class="flex-grow-1"></div>
        </v-toolbar>
        <v-card-text class="subtitle-1 mb-1">
           <v-form ref="form" v-model="form" lazy-validation>
            <v-row>
                <v-col cols="12">
                  <v-text-field   maxlength="255" outlined v-model="model.plan" :counter="255" :rules="[v => !!v || 'Plan es Obligatorio']" label="Plan" required></v-text-field>
              </v-col>
              <v-col cols="12">
                   <v-text-field @keypress="onlyNumber"   maxlength="10" outlined v-model="model.precio" :counter="10" :rules="[v => !!v || 'Precio es Obligatorio']" label="Precio" required></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-card-actions>
           
          <v-btn text @click="limpiarCampos()">Cancelar</v-btn>
          <div class="flex-grow-1"></div>
          <v-btn v-if="opc==1"  class="white--text"  color="deep-orange darken-1"  depressed  @click="guardarPlan()"><v-icon left>save</v-icon>Guardar</v-btn>
          <v-btn   v-if="opc==2" class="white--text"  color="deep-orange darken-1"  depressed  @click="EditarPlan()"><v-icon left>save</v-icon>Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="mensajeCorrecto"  :color="color" right top>
                {{textMensajeCorrecto}}
    </v-snackbar>
    <v-snackbar color="error" top right v-model="mensajeIncorrecto">
      <div>
        <p class="mx-2 my-2" v-for="(item, i) in arrayErrors" :key="i">—&nbsp;{{item}}</p>
      </div>

      <v-btn color="white" text @click="mensajeIncorrecto = false">CERRAR</v-btn>
    </v-snackbar>
   
  </div>
</template>
<script>
export default {
  data() {
    return {
      estado:'',
      textMensajeCorrecto:'',
      color:'success',
      mensajeIncorrecto:false,
      mensajeCorrecto:false,
      dialogEditar: false,
      form:false,
      arrayPlanes: [],
      arrayErrors:[],
      arrayEstados: [{id:'1',item:'Activo'},{id:'0',item: 'Inactivo'}],
      search: "",
      items: "",
      model:{
        plan:'',
        precio:'',
        idplan:'',

      },
      habilitar: true,
      deshabilitar: false,
      headersPlanes: [
        { text: "ID Plan", value: "idplanes" },
        { text: "Plan", value: "plan" },
        { text: "Precio", value: "precio" },
       
        { text: "Acciones", value: "action", sortable: false }
      ],
      textoPlan:'',
      opc:'',
      
    };
  },
  methods: {
    onlyNumber ($event) {
        let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
                $event.preventDefault();
            }
        },
    listarPlanes() {

      axios.get('/planes',{
       params:{
          'estado':this.estado,
       }
      }).then(response => {
          this.arrayPlanes = response.data;
        })
        .catch(error => {
          console.log("error " + error);
        });
    },
    Editar(item,opc) {
       this.dialogEditar = true;
        this.opc=opc;
       //si la opcion es uno va a abrir el modal para guardar si es 2 para editar
      if(opc==1){
        this.textoPlan="Crear Plan"
        this.model.idplan='';
        this.model.plan='';
        this.model.precio='';
      }else{
         this.textoPlan="Editar Plan"
        this.model.idplan=item.idplanes;
        this.model.plan=item.plan;
        this.model.precio=item.precio;
      }
      
    },
    guardarPlan(){
      if(this.$refs.form.validate()){
        axios.post('/guardarPlan',{
          'model':this.model,
        }).then(response=>{
           this.dialogEditar = false;
           this.listarPlanes();
           this.color='success';
           this.textMensajeCorrecto='Plan Guardado Correctamente';
           this.mensajeCorrecto=true;

        }).catch(error=>{
            this.arrayErrors = [];
            this.mensajeIncorrecto = true;
            var errores = error.response.data.errors;
            //   console.log(errores);
            for (var key in errores) {
              if (errores.hasOwnProperty(key)) {
                errores[key].forEach(element => {
                  this.arrayErrors.push(element);
                });
              }
            }
        })
      }
    },
    EditarPlan() {
      if(this.$refs.form.validate()){
        axios.post('/editarPlan',{
          'model':this.model,
        }).then(response=>{
           this.dialogEditar = false;
           this.listarPlanes();
           this.color='success';
           this.textMensajeCorrecto='Plan Editado Correctamente';
           this.mensajeCorrecto=true;

        }).catch(error=>{
            this.arrayErrors = [];
            this.mensajeIncorrecto = true;
            var errores = error.response.data.errors;
            //   console.log(errores);
            for (var key in errores) {
              if (errores.hasOwnProperty(key)) {
                errores[key].forEach(element => {
                  this.arrayErrors.push(element);
                });
              }
            }
        })
      }
     
    },
    
    limpiarCampos(){
      this.model.idplan='';
      this.model.plan='';
      this.model.precio='';
      this.dialogEditar=false;
    },
    habilitarBoton(opc,id){
      axios.post('/habilitarPlan',{
        'opc':opc,
        'plan_id':id
      }).then(response=>{
           this.listarPlanes();
           this.color='info';
           if(opc==0){
              this.textMensajeCorrecto='Plan Desactivado Correctamente';
           }else{
             this.textMensajeCorrecto='Plan Activado Correctamente';
           }
           this.mensajeCorrecto=true;
      }).catch(error=>{
            this.arrayErrors = [];
            this.mensajeIncorrecto = true;
            var errores = error.response.data.errors;
            //   console.log(errores);
            for (var key in errores) {
              if (errores.hasOwnProperty(key)) {
                errores[key].forEach(element => {
                  this.arrayErrors.push(element);
                });
              }
            }
        })
    },
    

  },
  created() {
    this.listarPlanes();
  },
  mounted() {}
};
</script>