<template>
    <div style="width:100%">
         <v-card flat>
             <v-toolbar color="primary" dark extended elevation-10 ></v-toolbar>
             <v-card class="mx-auto"  style="margin-top: -64px;">
      <v-toolbar flat>
         <h1><strong>Descarga de Excel Administrador</strong></h1>

        <div class="flex-grow-1"></div>
         


      </v-toolbar>

      <v-divider></v-divider>
       
      <v-row>
        <v-col cols="4">
            <v-img src="/img/downloadexcel.png" max-width="235" max-height="235" style="margin-left:20%"></v-img>
        </v-col>
        <v-col cols="8">
            
            <v-row>
                <v-col cols="6">
                    <v-autocomplete  prepend-icon="mdi-account-card-details" @input="listarBackoffice()"   outlined v-model="rol_backoffice_id" item-value="id" item-text="rol" :items="arrayRoles" :rules="[v => !!v || 'Rol es Obligatorio']" label="Rol" required></v-autocomplete >
                </v-col>
                <v-col cols="6">
                    <v-autocomplete  prepend-icon="mdi-account-arrow-right"    outlined v-model="backoffice_id" item-value="codigo_usercrm" item-text="nombre" :items="arrayBackoffice" label="Backoffice"></v-autocomplete >
                </v-col>
                <v-col cols="6">
                    <v-menu
                        v-model="menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                        <v-text-field
                            v-model="fechaInicial"
                            label="Fecha Inicial"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                        ></v-text-field>
                        </template>
                        <v-date-picker v-model="fechaInicial" @input="menu = false" :max="hoy" locale="ES"></v-date-picker>
                    </v-menu>
                </v-col>
                <v-col cols="6">
                    <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                        <v-text-field
                            v-model="fechaFinal"
                            label="Fecha Final"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                        ></v-text-field>
                        </template>
                        <v-date-picker v-model="fechaFinal" @input="menu2 = false" :max="hoy" locale="ES"></v-date-picker>
                    </v-menu>
                </v-col>                
            </v-row>
            
            <!-- <v-btn :disabled="!button" @click="descargarExcel" block color="indigo darken-4" depressed  dark><v-icon>cloud_download</v-icon> Cargar Archivo</v-btn> -->
                <v-btn :loading="dialogEnviando"  class="white--text" block :disabled="!button" color="indigo darken-4" depressed @click="abrirDialog()"> Descargar Informe</v-btn>
                
        </v-col>
       
      </v-row>
      <v-divider></v-divider>
      <v-row>
          <v-col cols="12">
          </v-col>
      </v-row>
      
      
     
    </v-card>
    </v-card>
    <v-snackbar v-model="mensajeIncorrecto"  color="error" right top>
                {{mensaje_error}}
    </v-snackbar>
    <v-snackbar v-model="mensajeCorrecto"  color="success" right top>
                Base Cargada Correctamente
    </v-snackbar>
    <v-dialog v-model="dialogEnviar" persistent max-width="290">
                        
        <v-card class="mx-auto" style="max-width: 500px;">
            
            <v-toolbar color="deep-orange darken-1" cards dark flat>
            
            <h3>Descargar Informe</h3>
            <div class="flex-grow-1"></div>
            
            </v-toolbar>
            <v-card-text class="subtitle-1 mb-1">Se descargara este informe, seguro/a de los filtros seleccionados? </v-card-text>
            
            <v-card-actions>
            <v-btn text @click="dialogEnviar=false">Cancelar</v-btn>
                <div class="flex-grow-1"></div>
            <v-btn class="white--text" color="deep-orange darken-1" depressed @click="descargarExcel()">Aceptar</v-btn>
            </v-card-actions>
            
        </v-card>
    </v-dialog>
    <v-dialog v-model="dialogEnviando" hide-overlay persistent width="600"  height="200">
            <v-card color="blue darken-4" dark>
                <v-card-text>
               Cargando, Por Favor Espere...
                <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card-text>
            </v-card>
    </v-dialog>
    <v-dialog v-model="dialogErrorFechas" persistent max-width="290">
                        
        <v-card class="mx-auto" style="max-width: 500px;">
            
            <v-toolbar color="red" cards dark>
            
            <h3>Fechas Erradas</h3>
            <div class="flex-grow-1"></div>
            
            </v-toolbar>
            <v-card-text class="subtitle-1 mb-1">Las fechas finales no pueden ser inferiores a las fechas iniciales </v-card-text>
            
            <v-card-actions>
                <div class="flex-grow-1"></div>
            <v-btn class="white--text" color="red" depressed @click="fechasErradas()">Aceptar</v-btn>
            </v-card-actions>
            
        </v-card>
    </v-dialog>
     
    </div>
</template>
<script>

export default {
    props:['rol_id'],
    
    data () {
      return {
            file:[],
            arrayRoles:[
                {id:2,rol:'Cambio de Plan'},
                {id:3,rol:'Evasiones'},               
                {id:4,rol:'Inconsistencias'},
                {id:5,rol:'Cierre PQR'},
                {id:6,rol:'Casos Especiales'},
                {id:7,rol:'Retenidos'},
                {id:8,rol:'Correo'}
            ],
            rol_backoffice_id:'',
            backoffice_id:'',
            arrayBackoffice:[],
            search:'',
            arrayArchivoCarga:[],
            mensajeIncorrecto:false,
            mensajeCorrecto:false,
            mensaje_error:'',
            dialogEnviando:false,
            fileRules:[
                 v => !!v || "El Archivo es Obligatorio"
            ],
            button:false,
            dialogEnviar:false,
            dialogErrorFechas:false,
            headersArchivoCarga: [
                { text: '#', value: 'id' },
                { text: 'Número Registros Cargados', value: 'numero_registros_cargados' },
                { text: 'Ruta', value: 'ruta' },
               
                { text: 'Número Errores', value: 'numero_errores' },
                { text: 'Número Fallas', value: 'numero_fallas' },
                { text: 'Acciones', value: 'action', sortable: false },
            ],
      fechaInicial:'',
      fechaFinal:'',
      menu: false,
      menu2: false,
      modalInicial: false,
      modalFinal: false,
      hoy: new Date().toISOString().substr(0, 10),
      }
       
       
    },
    watch:{
        fechaFinal:function() {
            if(this.fechaInicial<this.fechaFinal){
                this.fechaInicial=this.fechaInicial;
            }else if(this.fechaFinal < this.fechaInicial){
                this.fechaFinal=this.fechaInicial;
                this.dialogErrorFechas=true;
            }
            if(this.rol_backoffice_id!="" && this.fechaInicial!='' && this.fechaFinal!=''){
                this.button=true;
            }
        },
    },
    methods:{
        limpiarCampos(){
            this.backoffice_id='';
            this.rol_backoffice_id='';
            this.fechaFinal='';
            this.fechaInicial='';
        },
       descargarExcel(){
            this.dialogEnviar=true;
            axios({
                url:'/descargarInforme',
                method: "POST",
                data:{
                'rol_backoffice_id':this.rol_backoffice_id,
                'backoffice_id':this.backoffice_id,
                'fechaInicial':this.fechaInicial,
                'fechaFinal':this.fechaFinal
                },
                responseType: 'blob',//importante
            }).then(response => {
                const url = window.URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'Reporte_general_'+Date.now()+'.xlsx');
                document.body.appendChild(link);
                link.click();
                this.dialogEnviar=false;
                this.limpiarCampos();
                this.button=false;
            }).catch(error => {
                console.log("error " + error);
            }); 
       },
       listarBackoffice(){
          
           this.backoffice_id='';
            axios.post('/listarBackoffice',{
                'rol_backoffice_id':this.rol_backoffice_id
            }).then(response=>{
                this.arrayBackoffice=response.data;
            })
       },
       abrirDialog(){
           this.dialogEnviar=true;
       },
       fechasErradas(){
           this.dialogErrorFechas=false;
       },
    },
    mounted() {
        this.limpiarCampos();
    },
    
  }
</script>