<template>
    <div style="width:100%">
         <v-card flat>
             <v-toolbar color="primary" dark extended elevation-10 ></v-toolbar>
             <v-card class="mx-auto"  style="margin-top: -64px;">
      <v-toolbar flat>
        <h1 v-if="rol_id==1"><strong>Estadisticas Generales Administrador</strong></h1>
        <h1 v-if="rol_id==2"><strong>Estadisticas Cambio Plan</strong></h1>  
        <h1 v-if="rol_id==3"><strong>Estadisticas Evasiones</strong></h1>
        <h1 v-if="rol_id==4"><strong>Estadisticas Inconsistencias</strong></h1>
        <h1 v-if="rol_id==5"><strong>Estadisticas Cierre PQR</strong></h1>
        <h1 v-if="rol_id==6"><strong>Estadisticas Caso Especial</strong></h1>
        <h1 v-if="rol_id==7"><strong>Estadisticas Retenido</strong></h1>
        <h1 v-if="rol_id==8"><strong>Estadisticas Correo</strong></h1>


        <div class="flex-grow-1"></div>
         


      </v-toolbar>
        <v-row v-if="rol_id==1">
            <v-col cols="3">
                <v-menu
                    v-model="menu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                    <v-text-field
                        v-model="fechaInicial"
                        label="Fecha Inicial"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                    ></v-text-field>
                    </template>
                    <v-date-picker v-model="fechaInicial" @input="menu = false" :max="hoy" locale="ES"></v-date-picker>
                </v-menu>
            </v-col>
            <v-col cols="3">
                <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                >
                    <template v-slot:activator="{ on }">
                    <v-text-field
                        v-model="fechaFinal"
                        label="Fecha Final"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                    ></v-text-field>
                    </template>
                    <v-date-picker v-model="fechaFinal" @input="menu2 = false" :max="hoy" locale="ES"></v-date-picker>
                </v-menu>                
            </v-col> 
            <v-col cols="3">
              <v-btn class="white--text" block :disabled="!button" color="indigo darken-4" depressed @click="filtrarFechas()"> Filtro de Gestiones</v-btn>
            </v-col>               
        </v-row>
      <v-divider></v-divider>
      <v-container>
      <v-col cols="12">
        <v-row justify="center">
          <v-col cols="3" v-if="rol_id!=1">
            <highcharts :options="chartOptions2"></highcharts>
          </v-col>
          <v-col cols="9" v-if="rol_id!=1">
            <highcharts :options="chartOptions3"></highcharts>
          </v-col>
          <v-col cols="3" v-if="rol_id==1">
            <highcharts :options="chartOptions2"></highcharts>
          </v-col>
          <v-col cols="9" v-if="rol_id==1">
            <highcharts :options="chartOptions"></highcharts>
          </v-col>  
        </v-row>
      </v-col> 
      </v-container>    
    </v-card>
    </v-card>              
    </div>
</template>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>
var Highcharts = require('highcharts');
// Load module after Highcharts is loaded
require('highcharts/modules/exporting')(Highcharts);
//import Highcharts from 'highcharts'
import {Chart} from 'highcharts-vue'
export default {
  
    props:['rol_id'],
    components: {
      highcharts: Chart 
    },
    data () {
      return {
        button:false,
        menu: false,
        menu2: false,
        modalInicial: false,
        modalFinal: false,
        fechaInicial:'',
        fechaFinal:'',
        hoy: new Date().toISOString().substr(0, 10),
        mensajeCorrecto:false,        
        search: '',
        arrayGestiones:'',            
        dialogAbrirGestion:false,
        contar:true,  
        tooltip: {
        headerFormat: '',
        pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
            'Area (square km): <b>{point.y}</b><br/>' +
            'Population density (people per square km): <b>{point.z}</b><br/>'
        },              
        series: [{
          name: 'hola',
          data: [0]
        }],
        categories: [],
        series2: [],                      
        }
       
       
    },
    computed: {
       chartOptions3(){
         return{
            chart: {  type: 'column'}, //bar,pie,spline,line,variable-pie
            title: {  text: 'Gestiones Por Mes'	},
            xAxis: {
            title: {
              },
              categories: this.categories.nombre,
              crosshair: true
            },
            yAxis: {
              allowDecimals: false,
              min: 0,
              title: {
              text: "# GESTIONES POR MES"
              }
            },

            series: this.series.meses,  

         } 
      },
       chartOptions2(){
         return{
            chart: {  type: 'column'}, //bar,pie,spline,line,variable-pie
            title: {  text: 'Gestiones'	},
            xAxis: {
            title: {
              },
              categories: [''],
              crosshair: true
            },
            yAxis: {
              allowDecimals: false,
              min: 0,
              title: {
              text: "# GESTIONES"
              }
            },
            series: this.series.gestiones,  

         } 
      },
        chartOptions(){
         return{
            chart: {  type: 'column'}, //bar,pie,spline,line,variablepie
            title: {  text: 'Gestiones Por Rol'	},
            xAxis: {
            title: {
              },
              categories: ['Cambio Plan', 'Evasiones', 'Inconsistencias', 'Cierre Pqr', 'Casos Especiales', 'Retenidos', 'Correo'],
              crosshair: true
            },
            yAxis: {
              allowDecimals: false,
              min: 0,
              title: {
              text: "# GESTIONES"
              }
            },
            series: this.series2.grafica,              
            //series: this.series2,  

         } 
      },
            
    },
    watch:{
        fechaFinal:function() {
            if(this.fechaInicial!='' && this.fechaFinal!=''){
                this.button=true;
            }
        },
    },
    methods:{
       listarGestion(){
           axios.post('/contarGestion', {
             'contar':this.contar,
             }).then(response=>{
               this.arrayGestiones=response.data;
               this.series = response.data;
               this.series2 = response.data;
               this.categories = response.data;       
           });

       },
        limpiarCampos(){
            this.fechaInicial='';
            this.fechaFinal='';
            this.button=false;
        },
       filtrarFechas(){
            axios.post('/generarGrafica',{
                'fechaInicial':this.fechaInicial,
                'fechaFinal':this.fechaFinal
            }).then(response => {
                this.series2.grafica = response.data;
                this.limpiarCampos();
            }).catch(error => {
                console.log("error " + error);
            }); 
       },       
    },
    mounted() {
        this.listarGestion();

        
    },
  };
</script>