<template>
    <div>
         <v-row >
        <v-col cols="12" >
        
        
        <v-chip color="primary" outlined>
            <v-icon left color="primary">list</v-icon>
            Información Gestión
        </v-chip>
        
            <v-row>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">Código único: {{gestion.codigo_unico ? gestion.codigo_unico :'NO APLICA'}}</p>
                </v-col>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">Fecha: {{gestion.fecha ? gestion.fecha : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">CUSTCODE: {{gestion.custcode ? gestion.custcode :'NO APLICA'}}</p>
                </v-col>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">Tipo: {{gestion.tipo ? gestion.tipo : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">Inconsistencia: {{gestion.inconsistencia ? gestion.inconsistencia : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">User: {{gestion.cod_user ? gestion.cod_user : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">Nombre Consultor: {{gestion.nombre_consultor ? gestion.nombre_consultor :'NO APLICA'}}</p>
                </v-col>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">Ubicación: {{gestion.ubicacion ? gestion.ubicacion :'NO APLICA'}}</p>
                </v-col>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">Aplica Ajuste: {{gestion.aplica_ajuste ? gestion.aplica_ajuste : 'NO'}}</p>
                </v-col>
                <v-col cols="2" class="pb-0" >
                    <p class="text-uppercase">Ajuste Compartido: {{gestion.ajuste_compartido ? gestion.ajuste_compartido : 'NO'}}</p>
                </v-col>
                          
            </v-row>
            <v-divider v-if="gestion.gestionProceso"></v-divider>
             <v-row v-if="gestion.gestionProceso">
                <v-col cols="6" v-for="(gestionProceso,index) in gestion.gestionProceso" :key="gestionProceso.id">
                    <v-chip color="primary" class="mb-3" outlined>
                        <v-icon left color="primary">record_voice_over</v-icon>
                        Asesor A Justificar {{index+1}}
                    </v-chip>
                     <p class="text-uppercase">Fecha Inconsistencia: {{gestionProceso.fecha_inconsistencia ? gestionProceso.fecha_inconsistencia :'NO APLICA'}}</p>
                    <p class="text-uppercase">Fecha Reporte: {{gestionProceso.fecha_reporte ? gestionProceso.fecha_reporte :'NO APLICA'}}</p>
                    <p class="text-uppercase">MIN: {{gestionProceso.min ? gestionProceso.min :'NO APLICA'}}</p>
                    <p class="text-uppercase">Custcode: {{gestionProceso.custcode ? gestionProceso.custcode :'NO APLICA'}}</p>
                    <p class="text-uppercase">Customer ID: {{gestionProceso.customer_id ? gestionProceso.customer_id :'NO APLICA'}}</p>
                    <p class="text-uppercase">Valor Sin Iva: {{gestionProceso.valor_sin_iva ? gestionProceso.valor_sin_iva :'NO APLICA'}}</p>
                    <p class="text-uppercase">Total: {{gestionProceso.total ? gestionProceso.total :'NO APLICA'}}</p>
                    <p class="text-uppercase">RTA Caso: {{gestionProceso.rta_caso ? gestionProceso.rta_caso :'NO APLICA'}}</p>
                    <p class="text-uppercase">Responsable: {{gestionProceso.responsable ? gestionProceso.responsable :'NO APLICA'}}</p>
                    <p class="text-uppercase">CC: {{gestionProceso.cc ? gestionProceso.cc :'NO APLICA'}}</p>
                    <p class="text-uppercase">User: {{gestionProceso.user ? gestionProceso.user :'NO APLICA'}}</p>
                    <p class="text-uppercase">Estado: {{gestionProceso.estado ? gestionProceso.estado :'NO APLICA'}}</p>
                    <p class="text-uppercase">Tipificación: {{gestionProceso.tipificacion.item ? gestionProceso.tipificacion.item :'NO APLICA'}}</p>
                    <p class="text-uppercase" v-if="gestionProceso.tipificacion_id==58">Tipificación 2: {{gestionProceso.motivo_otro ? gestionProceso.motivo_otro :'NO APLICA'}}</p>

                </v-col>
            </v-row>
              
        
        
        
            
        </v-col>
        
        
        </v-row>
    </div>
</template>
<script>
export default {
    props:['gestion']
}
</script>