<template>
    <div v-if="gestion.estado_id==70">
         <v-row >
        <v-col cols="12" >
        
        
        <v-chip color="primary" outlined>
            <v-icon left color="primary">list</v-icon>
            Información Gestión
        </v-chip>
            <v-row>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Nr cun: {{gestion.nr_cun ? gestion.nr_cun : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Fecha recibido: {{gestion.fecha_recibido ? gestion.fecha_recibido : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Dias sap: {{gestion.dias_sap ? gestion.dias_sap : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Tipo pqr: {{gestion.tipo_pqr ? gestion.tipo_pqr : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Tipo Peticion: {{gestion.tipo_peticion ? gestion.tipo_peticion : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Tipo reclamo: {{gestion.tipo_reclamo ? gestion.tipo_reclamo : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Sub Reclamo: {{gestion.subreclamo ? gestion.subreclamo : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Anexos: {{gestion.anexos ? gestion.anexos : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Remitente: {{gestion.remitente ? gestion.remitente : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Radicado por: {{gestion.radicaco_por ? gestion.radicaco_por : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Area Responsable: {{gestion.area_responsable ? gestion.area_responsable : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Analista Responsable: {{gestion.analista_responsable ? gestion.analista_responsable : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Min: {{gestion.min ? gestion.min : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Fecha Silencio: {{gestion.fecha_silencio ? gestion.fecha_silencio : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Fecha Silencio: {{gestion.fecha_silencio ? gestion.fecha_silencio : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Consecutivo Salida: {{gestion.consecutivo_salida ? gestion.consecutivo_salida : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Area Radicacion: {{gestion.area_radicacion ? gestion.area_radicacion : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Codigo id: {{gestion.codigo_id ? gestion.codigo_id : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Region: {{gestion.region ? gestion.region : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Direccion: {{gestion.direccion ? gestion.direccion : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Ciudad: {{gestion.ciudad ? gestion.ciudad : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Distribuidor: {{gestion.distribuidor ? gestion.distribuidor : 'NO APLICA'}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Ciclo Fact: {{gestion.ciclo_fact ? gestion.ciclo_fact : 'NO APLICA'}}</p>
                </v-col>                

            </v-row>   
        </v-col>
</v-row>
    </div>
</template>
<script>
export default {
    props:['gestion']
}
</script>