<template>
    <div>
          <v-row >
        <v-col cols="6" >
        
        <v-chip color="primary" outlined class="mb-3">
            <v-icon left color="primary">mdi-face</v-icon>
            Información Asesor
        </v-chip>
        
        <p class="text-uppercase">Nombre: {{gestion.asesor ? gestion.asesor.nombre_usuario : ''}}</p>
        <p class="text-uppercase">Apellido: {{gestion.asesor ? gestion.asesor.apellido_usuario : ''}}</p>
        <p class="text-uppercase">Documento: {{gestion.asesor ? gestion.asesor.cedula_usuario : ''}}</p>
        <v-divider></v-divider>
        <v-chip color="primary" outlined>
            <v-icon left color="primary">list</v-icon>
            Información Gestión
        </v-chip>
        
            <v-row>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Tipo Gestión: {{gestion.tipo_gestion!=2 ? gestion.tipo_gestion : (gestion.gestionAnillo.tipo_gestion ? gestion.gestionAnillo.tipo_gestion:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Contrato: {{gestion.contrato ? gestion.contrato : (gestion.gestionAnillo ? gestion.gestionAnillo.contrato:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">MIN: {{gestion.min_ac ? gestion.min_ac : (gestion.gestionAnillo ? gestion.gestionAnillo.min_ac:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">UC: {{gestion.ucid ? gestion.ucid : (gestion.gestionAnillo ? gestion.gestionAnillo.ucid:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Custcode: {{gestion.custcode ? gestion.custcode : (gestion.gestionAnillo ? gestion.gestionAnillo.custcode:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Tipificación: {{gestion.tipificacion ? gestion.tipificacion : (gestion.gestionAnillo ? gestion.gestionAnillo.tipificacion:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Call Transfiere: {{gestion.call_transfiere ? gestion.call_transfiere : (gestion.gestionAnillo ? gestion.gestionAnillo.call_transfiere:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Formato Call: {{gestion.formato_call ? gestion.formato_call : (gestion.gestionAnillo ? gestion.gestionAnillo.formato_call:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">User Transfiere: {{gestion.user_trasnfiere ? gestion.user_trasnfiere : (gestion.gestionAnillo ? gestion.gestionAnillo.user_trasnfiere:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Fecha Evasion: {{gestion.fecha_evacion ? gestion.fecha_evacion : (gestion.gestionAnillo ? gestion.gestionAnillo.fecha_evacion:'NO APLICA')}}</p>
                </v-col>
                
            </v-row>
        
        
        
            
        </v-col>
        <v-col cols="6">
            <v-chip color="primary"  outlined>
            <v-icon left color="primary">record_voice_over</v-icon>
            Información Cliente
            </v-chip>
            
            <v-row>
                <v-col cols="6" class="pb-0">
                        <p class="text-uppercase">Nombre Cliente: {{gestion.nombre_cliente ? gestion.nombre_cliente : (gestion.gestionAnillo.nombre_cliente ? gestion.gestionAnillo.nombre_cliente:'NO APLICA')}}</p>
                </v-col>
                    <v-col cols="6" class="pb-0">
                        <p class="text-uppercase">Documento Cliente : {{gestion.cedula_cliente ? gestion.cedula_cliente : (gestion.gestionAnillo.cedula_cliente ? gestion.gestionAnillo.cedula_cliente:'NO APLICA')}}</p>
                </v-col>
                    <v-col cols="6" class="pb-0">
                        <p class="text-uppercase">Corte Linea: {{gestion.corte_linea ? gestion.corte_linea : (gestion.gestionAnillo.corte_linea ? gestion.gestionAnillo.corte_linea:'NO APLICA')}}</p>
                </v-col>
                    <v-col cols="6" class="pb-0">
                        <p class="text-uppercase">Solicita Ajuste: {{gestion.solicita_ajuste ? gestion.solicita_ajuste : (gestion.gestionAnillo.solicita_ajuste ? gestion.gestionAnillo.solicita_ajuste:'NO APLICA')}}</p>
                </v-col>
                    <!-- <v-col cols="6" class="pb-0">
                        <p class="text-uppercase">Valor Ajuste: {{gestion.valor_ajuste ? gestion.valor_ajuste : (gestion.gestionAnillo.valor_ajuste ? gestion.gestionAnillo.valor_ajuste : 'NO APLICA')}}</p>
                </v-col> -->
                    <v-col cols="6" class="pb-0">
                        <p class="text-uppercase">Motivo Cancelación: {{gestion.motivo_cancelacion ? gestion.motivo_cancelacion : (gestion.gestionAnillo.motivo_cancelacion ? gestion.gestionAnillo.motivo_cancelacion:'NO APLICA')}}</p>
                </v-col>
                    <!-- <v-col cols="12" class="pb-0">
                        <p class="text-uppercase">Observaciones Motivo Cancelación: {{gestion.observaciones_motivo_cancelacion ? gestion.observaciones_motivo_cancelacion : (gestion.gestionAnillo.observaciones_motivo_cancelacion ? gestion.gestionAnillo.observaciones_motivo_cancelacion :'NO APLICA')}}</p>
                </v-col> -->
                    <v-col cols="6" class="pb-0">
                        <p class="text-uppercase">Cancela: {{gestion.cance_d ? gestion.cance_d : (gestion.gestionAnillo.cance_d ? gestion.gestionAnillo.cance_d:'NO APLICA')}}</p>
                </v-col>
                
            </v-row>
              
        </v-col>
        
        </v-row>
    </div>
</template>
<script>
export default {
    props:['gestion']
}
</script>