<template>
    <div v-if="gestion.estado_id != null">
         <v-row >
        <v-col cols="12" >
        
        
        <v-chip color="primary" outlined>
            <v-icon left color="primary">list</v-icon>
            Información Gestión
        </v-chip>
            <v-row>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Numero de caso: {{gestion.numero_caso ? gestion.numero_caso : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha registro: {{gestion.fecha_registro ? gestion.fecha_registro : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha cierre: {{gestion.fecha_cierre ? gestion.fecha_cierre : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Estado: {{gestion.estado ? gestion.estado : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Usuario Generador: {{gestion.usuario_generador ? gestion.usuario_generador : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Usuario Asignado: {{gestion.usuario_asignado ? gestion.usuario_asignado : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Observaciones: {{gestion.observaciones ? gestion.observaciones : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Respuesta: {{gestion.respuesta ? gestion.respuesta : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Nombre Cliente: {{gestion.nombre_cliente ? gestion.nombre_cliente : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Motivo Solicitud: {{gestion.motivo_solicitud ? gestion.motivo_solicitud : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Min: {{gestion.min ? gestion.min : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Fecha Comunicacion: {{gestion.fecha_comunicacion ? gestion.fecha_comunicacion : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Custcode: {{gestion.custcode ? gestion.custcode : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">User AC: {{gestion.user_ac ? gestion.user_ac : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Descripcion Propuesta: {{gestion.descripcion_propuesta ? gestion.descripcion_propuesta : 'NO APLICA'}}</p>
                                 </v-col>
                                 <v-col cols="6" class="pb-0" >
                                       <p class="text-uppercase">Motivo: {{gestion.motivo ? gestion.motivo : 'NO APLICA'}}</p>
                                 </v-col>
                             </v-row>
        </v-col>
</v-row>
    </div>
</template>
<script>
export default {
    props:['gestion']
}
</script>