<template>
    <div>
        <v-row >
            <v-col cols="6" >
            
            <v-chip color="primary" class="mb-3" outlined>
                <v-icon left color="primary">mdi-face</v-icon>
                Información Asesor
            </v-chip>
             
            <p class="text-uppercase">Nombre: {{gestion.asesor ? gestion.asesor.nombre_usuario : ''}}</p>
            <p class="text-uppercase">Apellido: {{gestion.asesor ? gestion.asesor.apellido_usuario : ''}}</p>
            <p class="text-uppercase">Documento: {{gestion.asesor ? gestion.asesor.cedula_usuario : ''}}</p>
            
            </v-col>
            <v-col cols="6">
                 <v-chip color="primary" outlined>
                <v-icon left color="primary">list</v-icon>
                Información Gestión
            </v-chip>
               
                <!-- columnas si el rol es Cambio de plan -->
                <v-row>
                    
                    <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Fecha Corte Plan: {{gestion.fecha_corte_plan ? gestion.fecha_corte_plan :(gestion.gestionAnillo ? gestion.gestionAnillo.fecha_corte_plan:'NO APLICA')}}</p>
                    </v-col>
                    <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase ">Nuevo Plan: {{gestion.plan_nuevo_plan ? gestion.plan_nuevo_plan :(gestion.gestionAnillo ? gestion.gestionAnillo.plan_nuevo_plan:'NO APLICA')}}</p>
                    </v-col>
                <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Plan Actual: {{gestion.plan_actual_plan ? gestion.plan_actual_plan :(gestion.gestionAnillo ? gestion.gestionAnillo.plan_actual_plan:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Contrato Plan: {{gestion.contrato_plan ? gestion.contrato_plan :(gestion.gestionAnillo ? gestion.gestionAnillo.contrato_plan:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">MIN: {{gestion.min_ac_plan ? gestion.min_ac_plan :(gestion.gestionAnillo ? gestion.gestionAnillo.min_ac_plan:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">UC: {{gestion.ucid_plan ? gestion.ucid_plan :(gestion.gestionAnillo ? gestion.gestionAnillo.ucid_plan:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Custcode: {{gestion.custcode2 ? gestion.custcode2 :(gestion.gestionAnillo ? gestion.gestionAnillo.custcode2:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Fecha Creación: {{gestion.fecha_creacion ? gestion.fecha_creacion :(gestion.gestionAnillo ? gestion.gestionAnillo.fecha_creacion:'NO APLICA')}}</p>
                </v-col>
                
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Tipo Plan Nuevo: {{gestion.tipo_plan_nuevo ? gestion.tipo_plan_nuevo :(gestion.gestionAnillo ? gestion.gestionAnillo.tipo_plan_nuevo:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Tipo Plan Actual: {{gestion.tipo_plan_actual ? gestion.tipo_plan_actual :(gestion.gestionAnillo ? gestion.gestionAnillo.tipo_plan_actual:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Otro Plan Actual: {{gestion.otro_plan_actual ? gestion.otro_plan_actual :(gestion.gestionAnillo ? gestion.gestionAnillo.otro_plan_actual:'NO APLICA')}}</p>
                </v-col>
                <v-col cols="6" class="pb-0" >
                    <p class="text-uppercase">Modalidad Plan: {{gestion.modalidad_plan ? gestion.modalidad_plan :(gestion.gestionAnillo ? gestion.gestionAnillo.modalidad_plan:'NO APLICA')}}</p>
                </v-col>
                
                </v-row>
            </v-col>
            
            
            </v-row>
               <v-divider></v-divider>
    </div>
</template>
<script>
export default {
    props:['gestion'],
}
</script>