<template>
    <div v-if="gestion.estado_id != null">
         <v-row >
        <v-col cols="12" >
        
        
        <v-chip color="primary" outlined>
            <v-icon left color="primary">list</v-icon>
            Información Gestión
        </v-chip>
            <v-row>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Tipo de Gestion: {{gestion.tipo_gestion ? gestion.tipo_gestion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Fecha: {{gestion.fecha ? gestion.fecha : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Usuario Agente: {{gestion.usuario_agente ? gestion.usuario_agente : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Contrato: {{gestion.contrato ? gestion.contrato : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Min Ac: {{gestion.min_ac ? gestion.min_ac : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">UCID: {{gestion.ucid ? gestion.ucid : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Custcode: {{gestion.custcode ? gestion.custcode : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Nombre del Cliente: {{gestion.nombre_cliente ? gestion.nombre_cliente : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Cedula: {{gestion.cedula_cliente ? gestion.cedula_cliente : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Corte Linea: {{gestion.corte_linea ? gestion.corte_linea : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Tipificacion: {{gestion.tipificacion ? gestion.tipificacion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Tipificacion2: {{gestion.tipificacion2 ? gestion.tipificacion2 : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Tipificacion3: {{gestion.tipificacion3 ? gestion.tipificacion3 : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Tipificacion4: {{gestion.tipificacion4 ? gestion.tipificacion4 : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Motivo Cancelacion: {{gestion.motivo_cancelacion ? gestion.motivo_cancelacion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Observacion Cancelacion: {{gestion.observacion_cancelacion ? gestion.observacion_cancelacion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Solicita Ajuste: {{gestion.solicita_ajuste ? gestion.solicita_ajuste : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Valor Ajuste: {{gestion.valor_ajuste ? gestion.valor_ajuste : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Call Transfiere: {{gestion.call_transfiere ? gestion.call_transfiere : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">ID plan actual: {{gestion.id_plan_actual ? gestion.id_plan_actual : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Plan Actual: {{gestion.plan_actual ? gestion.plan_actual : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Precio Actual: {{gestion.precio_actual ? gestion.precio_actual : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">ID plan nuevo: {{gestion.id_plan_nuevo ? gestion.id_plan_nuevo : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Plan Nuevo: {{gestion.plan_nuevo ? gestion.plan_nuevo : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Precio Nuevo: {{gestion.precio_nuevo ? gestion.precio_nuevo : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Valor Diferenciado: {{gestion.valor_diferenciado ? gestion.valor_diferenciado : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Indicador Erosion: {{gestion.indicador_erosion ? gestion.indicador_erosion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Fecha Corte: {{gestion.fecha_corte ? gestion.fecha_corte : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Observacion 1: {{gestion.observacion1 ? gestion.observacion1 : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Observacion 2: {{gestion.observacion2 ? gestion.observacion2 : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Usuario Evasion: {{gestion.usuario_evasion ? gestion.usuario_evasion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Fecha Evasion: {{gestion.fecha_evasion ? gestion.fecha_evasion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Formato Novedades: {{gestion.formato_novedades ? gestion.formato_novedades : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Tipificacion Erosion: {{gestion.tipificacion_erosion ? gestion.tipificacion_erosion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Plan Actual Erosion: {{gestion.plan_actual_erosion ? gestion.plan_actual_erosion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Precio Actual Erosion: {{gestion.precio_actual_erosion ? gestion.precio_actual_erosion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Plan Nuevo Erosion: {{gestion.plan_nuevo_erosion ? gestion.plan_nuevo_erosion : 'NO APLICA'}}</p>
                  </v-col>
                  <v-col cols="6" class="pb-0" >
                        <p class="text-uppercase">Precio Nuevo Erosion: {{gestion.precio_nuevo_erosion ? gestion.precio_nuevo_erosion : 'NO APLICA'}}</p>
                  </v-col>                                 
            </v-row>
        </v-col>
</v-row>
    </div>
</template>
<script>
export default {
    props:['gestion']
}
</script>